<div class='view'>
    <h3 class="view-title">
        <i class="fa fa-users"></i> 会员人数分析
    </h3>
    <div class="view-bar">
        <ul class="view-breadcrumb">
            <li class="view-breadcrumb-item">
                <i class="fa fa-home"></i>
                <a href="/">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="view-breadcrumb-item">
                <!--<i class="fa fa-wrench"></i>-->
                <a href="javascript:;">数据分析</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="view-breadcrumb-item">
                <!--<i class="fa fa-users"></i>-->
                <a href="javascript:;">会员人数分析</a>
            </li>
        </ul>
    </div>

    <!--content-->

    <div class="member">

        <!--顶部栏 start-->

        <div class="member-top">

            <!--筛选 start-->
            <div class="member-filter">
                <div class="filter-item filter-position">
                    <span class="item-label">会员地区:</span>
                    <select ng-model="memberList.selectedProvince" 
                            ng-change="provinceChange(memberList.selectedProvince)">
                        <option value="">不限</option>
                        <option ng-repeat="item in memberList.provinceList" 
                                ng-bind="item.name" 
                                value="{{item.code}}">
                        </option>
                    </select>
                    <select ng-model="memberList.selectedCity">
                        <option value="">请先选择省份</option>
                        <option ng-repeat="item in memberList.cityList" 
                                ng-bind="item.name" 
                                value="{{item.code}}">
                        </option>
                    </select>
                </div>
                <div class="filter-item filter-production">
                    <span class="item-label">商品类别:</span>
                    <select ng-model="memberList.categoryid">
                        <option value="">所有</option>
                        <option ng-repeat="item in memberList.productionCategoryList" 
                                ng-bind="item.name" 
                                value="{{item.categoryid}}">
                        </option>
                    </select>
                </div>
                <!--<div class="filter-item filter-production">
                    <span class="item-label">商品条目:</span>
                    <select ng-model="memberList.mcdid">
                        <option value="">所有</option>
                        <option ng-repeat="item in memberList.productionList" 
                                ng-bind="item.mcdname" 
                                value="{{item.mcdid}}">
                        </option>
                    </select>
                </div>-->
                <div class="filter-item filter-points">
                    <span class="item-label">用户积分:</span>
                    <input type="number" 
                           class="filter-item-input" 
                           placeholder="请选择最低积分" 
                           ng-model="memberList.minpoint"> -
                    <input type="number" 
                           class="filter-item-input" 
                           placeholder="请选择最高积分" 
                           ng-model="memberList.maxpoint">
                </div>
                <div class="filter-item filter-cal">
                    <button class="butn butn-primary" ng-click="memberList.getMemberList(1)">
                        <i class="fa fa-pencil"></i>
                         统计
                    </button>
                </div>
            </div>
            <!--筛选 end-->

            <!--会员总数 start-->
            <div class="member-number">
                <div>
                    <div class="number-title">共：</div>
                    <div class="number-content">
                        <span ng-bind="memberList.memberTotal">203,244</span>人
                    </div>
                </div>
            </div>
            <!--会员总数 end-->

            <!--饼状图 start-->
            <div class="member-echarts" id="memberChart"></div>
            <!--饼状图 end-->
        </div>

        <!--顶部栏 end-->

        <!--数据表格 start-->

        <div class="member-table">
            <div class="view-table">
                <table>
                    <thead>
                        <tr>
                            <th>省</th>
                            <th>市</th>
                            <th>会员数</th>
                            <th>总积分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in memberList.memberList">
                            <td ng-bind="item.full.slice(0, item.full.indexOf('/')) || '其他'"></td>
                            <td ng-bind="item.full.slice(item.full.indexOf('/') + 1) || '其他'"></td>
                            <td ng-bind="item.s_custid"></td>
                            <td ng-bind="item.s_point"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="mapChart"></div>
        </div>

        <!--数据表格 end-->
    </div>
</div>