<div class="view">
    <h3 class="view-title">
        <i class="fa fa-pencil-square-o"></i>
        商品促销信息管理
    </h3>
    <div class="view-bar">
        <ul class="view-breadcrumb">
            <li class="view-breadcrumb-item">
                <i class="fa fa-home"></i>
                <a href="/">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="view-breadcrumb-item">
                <a href="javascript:;">商品促销信息管理</a>
            </li>
        </ul>
    </div>
    <div class="view-bar view-opt-group">
        <section class="search-form"
                 ng-class="{collapse: isCollapse}">
            <form>
                <div class="filter">
                    <div class="filter-item">
                        <span class="filter-item-label">标题:</span>
                        <input type="text" class="filter-item-input" placeholder="请输入标题" ng-model="queryCondition.key">
                    </div>
                    <div class="filter-item">
                        <span class="filter-item-label">起始时间:</span>
                        <input type="date" class="filter-item-input" placeholder="请选择起始时间" ng-model="queryCondition.begtime">
                    </div>
                    <div class="filter-item">
                        <span class="filter-item-label">结束时间:</span>
                        <input type="date" class="filter-item-input" placeholder="请选择结束时间" ng-model="queryCondition.endtime">
                    </div>
                    <div class="filter-item">
                        <span class="filter-item-label">状态:</span>
                        <select ng-model="queryCondition.state" style="padding: 4px;">
                            <option value="">请选择文章状态</option>
                            <option value="0">未发布</option>
                            <option value="1">已发布</option>
                            <option value="2">已停用</option>
                        </select>
                    </div>
                </div>
                <div class="action">
                    <button class="butn butn-primary"
                            ng-click="query()">
                        <i class="fa fa-search"></i>
                        查询
                    </button>
                    <button class="butn butn-default"
                            ng-click="queryReset()">重置</button>
                </div>
            </form>
        </section>
        <section class="action-bar"
                 ng-class='{collapse: isCollapse}'>
            <button class="butn butn-primary" ng-click="showAddartcle()"><i class="fa fa-plus"></i> 添加</button>
            <!--<button ng-click="deleteItems()" class="butn butn-danger" ng-disabled="!checkedItems.length > 0"><i class="fa fa-trash"></i> 删除</button>-->
        </section>
        <a href="javascript:;" class="search-form-toggle-btn"
           ng-click="toggleCollapse()">
            <i class="icon fa"
               ng-class="{'fa-angle-double-up': !isCollapse, 'fa-angle-double-down': isCollapse}"></i>
        </a>
    </div>
    <div class="view-table">
        <table>
            <thead>
            <tr>
                <th width="100px">时间</th>
                <th width="100px">状态</th>
                <th width="220px">标题</th>
                <th width="720px">摘要</th>
                <th width="100px">编辑</th>
                <th width="100px">停用</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in tableItems">
                <td ng-bind="item.createtime | timFmartday"></td>
                <td ng-bind="item.state | commonditySaleState"></td>
                <td ng-bind="item.title"></td>
                <td ng-bind="item.summary"></td>
                <td style="padding:0">
                    <button class="butn butn-link"
                            ng-click="showEditArtcle(item)">
                        <!--<span ng-bind="item.artid"></span>-->
                        <i class="fa fa-edit"></i> 编辑
                    </button>
                </td>
                <td style="padding:0">
                    <button class="butn butn-link"
                            ng-click="stopArticle(item.artid)">
                        <!--<span ng-bind="item.artid"></span>-->
                        <i class="fa fa-trash"></i> 停用
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="showAddForm"
         ng-include="'views/templates/commondity.sale.add.html'"></div>
    <div ng-if="showEditForm"
         ng-include="'views/templates/commondity.sale.edit.html'"></div>
    <div ng-if="scanphonebox"
         ng-include="'views/templates/commondity.sale.scan.html'"></div>
</div>