<div class="shade">
    <div class="content" style="min-width: 550px">
        <div class="content-top">
            <h3 class="title">积分记录</h3>
        </div>
        <div class="content-body">
            <div style="margin-bottom: 10px">
                <span>时间范围:</span>
                <select ng-model="pointRecordList.timeType" ng-change="pointRecordList.selectTimeType(pointRecordList.timeType)">
                    <option value="0">最近一月</option>
                    <option value="1">最近三月</option>
                    <option value="2">最近一年</option>
                </select>
            </div>
            <div class="view-table table-header no-border">
                <table>
                    <colgroup width="140px"></colgroup>
                    <colgroup width="100px"></colgroup>
                    <colgroup width="100px"></colgroup>
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>消费类型</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="view-table no-border table-body" style="overflow: auto;">
                <table>
                    <colgroup width="140px"></colgroup>
                    <colgroup width="100px"></colgroup>
                    <colgroup width="100px"></colgroup>
                    <thead style="display: none;">
                        <tr>
                            <th>时间</th>
                            <th>消费类型</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in pointRecordList.items">
                            <td ng-bind="item.pointtime"></td>
                            <td ng-bind="item.remark"></td>
                            <td>
                                <span ng-bind="item.point"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content-footer">
            <button class="butn butn-default" ng-click="pointRecordList.close()">关闭</button>
        </div>
    </div>
</div>