
.fy-inbox-menu {

    background-color: #F5F5F5;
    width: 50%;
    height: 80%;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    height: 93vh;
    float: left;
}

.fy-inbox-menu .fy-section{

    height:500px;
    overflow:auto;
}

.fy-inbox-body {
    border-top: none;
    height: 93vh;
    /*left: 50%;
    width: 50%;
    position: relative;
    float: right;*/
}

.fy-widget-hide {
    display: none;
}

.fy-inbox-body .taskHeader-margin-left {
    margin-left: 20px;
}

.fy-s-line {
    height: 1px;

    background-color: #ececec;
}

.fy-task-textarea-title {
    width: 50%;
    left: 50%;
    height: 20px;
    margin-bottom: 20px;
    border-style:solid;
    overflow:hidden;
    resize:none;
    border-color:rgb(245,245,245);
    background-color:rgb(245,245,245);
}

.fy-task-textarea-content {
    overflow:auto;
    resize:none;
    width: 50%;
    left: 50%;
    height: 400px;
    margin-bottom: 20px;
    border-style:solid;
    border-color:rgb(245,245,245);
    background-color:rgb(245,245,245);
}

.fy-task-header {
    padding: 20px;
    border-bottom:1px solid rgba(0,0,0,.1);
}

.fy-task-footer {
    position: absolute;
    bottom:0px;
    width: 100%;
    left: 50%;
    padding: 20px;
    border-top:1px solid rgba(0,0,0,.1)
}



/*.fy-task-textarea:focus{
    border-color:rgb(43,170,177);
}*/