.fb {
    padding-top: 70px!important;
}
.progress-bar {
    background-color: #ffcf5b;
    height: 30px;
    /*padding: 5px;*/
    line-height: 30px;
    width: 350px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.progress-bar > span {
    text-align: right;
    display: inline-block;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    word-break:keep-all;
    white-space:nowrap;
}
.orange > span {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd7a0b));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd7a0b);
    background-image: linear-gradient(top, #fecf23, #fd7a0b);
}
.shine > span {
    position: relative;
}
.shine > span:after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    -webkit-animation: animate-shine 2s ease-out infinite;
}
@-webkit-keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        width: 100%;
    }
}
.activityInfo {
    min-width: 120px;
    margin: 10px 10px 40px 10px;
    padding-right: 10px;
    border-right: 1px solid #d6d6d6;
}
.chooseActivity {
    margin-bottom: 6px;
}
.activities {
    max-height: 320px;
    overflow-x: hidden;
}
.activities > button {
    min-width: 150px;
    max-width: 200px;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    word-break: break-all;
}
.activities > button:hover {
    background-color: #f0f0f0;
}
.activityClicked {
    background-color: #4fcaff!important;color: #fff;
}
.activityClicked::after {
    content: "";
    width:0;
    height:10px;
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 999;
    border-left:5px solid #C93636;
    border-right:5px solid #C93636;
    border-bottom:5px solid transparent;
}
.survey {
    direction: rtl;
    position: absolute;
    right: 20px;
}
.survey > div {
    margin-right: 30px;
    display: inline-block;
}
.analysisChooseActivities {
    height: 15px;
}
.number, .increase, .allScan, .finish {
    /*text-align: left;*/
    font-size: 18px;
    color: #f40;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}
.number::after, .increase::after, .allScan::after, .finish::after {
    position: absolute;
    bottom: -10px;
    right: -15px;
    font-size: 13px;
    font-style: normal;
}
.number::after {
    content: "份";
}
.increase::after {
    content: "份";
}
/*.allScan::after {*/
    /*content: "次";*/
/*}*/
/*.finish::after {*/
    /*content: "%";*/
/*}*/
.analysisChooseActivities {
    margin: 10px;
}
.analysisChooseActivities > div {
    margin-right:15px
}
.verticalCenter {
    display:flex;
    display:-webkit-flex;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center
}
.chooseArea {
    margin-left:15px;
    margin-right:15px
}
#citySelector {
    max-height:300px !important;
    overflow:hidden !important
}
#citySelector {
    display:flex;
    flex-flow:row nowrap
}
#citySelector .title {
    padding:10px 25px 10px 20px;
    font-weight:bold
}
#citySelector button.link {
    background-color:#aaaaaa
}
.btn_citySelector {
    /*margin-right:10px;*/
    width: auto!important;
}
.startTime, .endTime {
    width: auto!important;
}
.verticalCenter input {
    min-width:150px
}
.verticalCenter input,.verticalCenter span {
    display:inline-block
}
.verticalCenter span {
    margin:0 15px
}
.transshi::before {
    content:"\f071"
}
.money::before {
    content:"\f0d6"
}
.fileText::before {
    content:"\f15c"
}
.answerIco::before {
    content:"\f0f6"
}
.search::before {
    content:"\f002"
}
.global::before {
    content: "\f085";
}
button.global {
    background-color: #24a5ff!important;
    color: #fff;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
button.global:hover {
    background-color: #0e93ff !important;
}
.editorSet {
    padding: 10px 0!important;
}
.chooseQuesTitle {
    border-bottom:1px dashed #ff6e2d;
    margin-bottom:15px
}
/*.dateOrTime {*/
    /*position:absolute;*/
    /*top:2px;*/
    /*right:0;*/
    /*z-index:999*/
/*}*/
.chooseTitle {
    margin-bottom:15px
}
.analysisQuestion > div {
    /*margin-top:20px;*/
    width:100% !important;
    overflow-x: hidden;
}
.rstAnalysisBoard,.answerAnalysisBoard {
    margin-left:2%;
    margin-right:2%
}
.rstAnalysisBoard {
    width:50%;
}
.answerAnalysisBoard {
    width: 40%;
    min-height: 400px;
}
.quesAreaNoData {
    min-height: 250px;
}
.answerIncreaseAnalysisBoard {
    width:100%!important;
    margin-top:20px;
    margin-bottom:100px;
    padding-top:10px;
    /*border-top:1px dashed #f40*/
}
.answerIncreaseAnalysis {
    width:100%!important;
    /*min-height: 400px;*/
}
.answersAnalysis  {
    margin-bottom: 40px!important;
}
.questionnaireAnalysis::after {
    content:'';
    width:0;
    height:0;
    display:block;
    clear:both
}
.answersBoard {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*overflow-x: hidden;*/
    min-height: 300px;
}
.answersBoard::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.answersBoard > div {
    width: 50%;
    height: auto;
    float: left;
}

.priceAnalysisBoard,.transAnalysisBoard {
    width:98% !important
}
g.highcharts-data-labels > g > text {
    text-shadow:none!important
}
.countPrize {
    border-collapse:collapse;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:15px
}
.countPrize td {
    border:1px solid #ccc;
    height:50px;
    padding:0 10px;
    text-align:center
}
.countOption {
    color:#f40;
    min-width:120px
}
.countNumber {
    font-weight:bold;
    min-width:80px;
}
.questions {
    margin:5px;
    padding-bottom: 10px;
    max-height:300px;
    overflow-x:hidden
}
.questionItem {
    height:20px;
    line-height:20px;
    padding: 5px 0;
    cursor:pointer
}
.checkBox {
    width:15px;
    height:15px;
    border:1px solid #ff6e2d;
    border-radius:2px;
    margin-right:10px;
    margin-top:2px;
    cursor:pointer
}
.checked {
    background-color:#f40
}
.quesNoAct {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.98;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 18px;
}
.goCreateAct {
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
    color: #f40;
    cursor: pointer;
    font-size: 25px;
}

/**sleepman*/
.nodata {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #484751;
}
.sleepman{
    height: 150px;
    width: 100px;
    margin: 0 auto;
}
.sleepman div {
    background: #00a5ff;
    position: relative;
}
.head{
    width: 80px;
    height: 50px;
    top: 35px;
    border-radius: 80px 80px 0 0;
    -webkit-transition: all 0.1s ease-in;
}
.eye {
    background: #fff;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 30px;
    left: 40px;
    -webkit-border-radius: 20px;
    -webkit-transform: rotate(-15deg);
}
.body{
    width: 80px; height: 80px;
    top: 40px;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
}
.l_leg, .r_leg {
    width: 25px;
    height: 30px;
    position: absolute;
    -webkit-transition: all 0.1s ease-in;
    -webkit-border-radius: 0 0 15px 15px;
}
.l_leg {
    top: 60px;
    left: 16px;
}
.llegAni {
    -webkit-animation: lleg 300ms infinite;
    animation-direction: alternate;
}
@-webkit-keyframes lleg {
    from {
        -webkit-transform: rotate(0deg) translate(5px, 0px);
    }to
     {
         -webkit-transform: rotate(0deg) translate(0px, 0px);
     }
}
.r_leg {
    top: 28px;
    left: 45px;
}
.rlegAni {
    -webkit-animation: rleg 300ms infinite;
    animation-direction: alternate;
    animation-delay: 200ms;
}
@-webkit-keyframes rleg {
    from {
        -webkit-transform: rotate(0deg) translate(5px, 0px);
    }to
     {
         -webkit-transform: rotate(0deg) translate(0px, 0px);
     }
}
.sleep {
    -webkit-animation: head 2s infinite;
    animation-direction: alternate;
}
@-webkit-keyframes head {
    from {
        -webkit-transform: rotate(-5deg) translate(-4px, -8px);
    }to
     {
         -webkit-transform: rotate(0deg) translate(0px, 0px);
     }
}
.l_arm:hover{
    -webkit-transform: rotate(-100deg) translate(-10px, 110px);
}
.happy {
    -webkit-animation: happy 300ms infinite;
    animation-direction: alternate;
}
@-webkit-keyframes happy {
    from {
        -webkit-transform: rotate(0deg) translate(0px, -1px);
    }to
     {
         -webkit-transform: rotate(0deg) translate(0px, 0px);
     }
}

.qr-footer {
    z-index: 999;
    padding: 10px 0;
}