<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">活动查看</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="table-container">
                <div class="row mbl">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <div class="tb-group-actions pull-right">
                            <button style="display: none" class="btn btn-sm btn-primary">
                                <!--i class="fa fa-check"></i-->创建活动
                            </button>
                        </div>
                    </div>
                </div>
                <table id="activities-table" class="table table-hover table-striped table-bordered table-advanced tablesorter">
                    <thead>
                        <tr>
                            <th width="3%">
                                <input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(activitiesArray)" />
                            </th>
                            <th width="15%">活动名</th>
                            <th width="10%">启用状态</th>
                            <th width="10%">开始时间</th>
                            <th width="10%">结束时间</th>
                            <th width="12%">详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activityInfo in activitiesArray">
                            <td>
                                <input type="checkbox" class="checkbox" ng-model="activityInfo.selected" />
                            </td>
                            <td ng-bind="activityInfo['name']">
                                Verify_Get_Score_Activity
                            </td>
                            <td>
                                <span ng-bind="getActivityStatus(activityInfo.enabled)" ng-class="{true:'label label-sm label-success',false:'label label-sm label-info'}[activityInfo.enabled == 1]">
                            </span>
                            </td>
                            <td ng-bind="timeToStr2(activityInfo['start_time'] * 1000)">
                                2016/01/21 14:56:58
                            </td>
                            <td ng-bind="timeToStr2(activityInfo['end_time'] * 1000)">
                                2016/09/21 14:56:58
                            </td>
                            <td>
                                <button ng-click="onShowActivityInfo(activityInfo['href'])" type="button" class="btn btn-default btn-xs mbs"><i class="fa fa-archive"></i>&nbsp; 活动详情</button>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div id="activityMgtPage"></div>
            </div>
        </div>
    </div>

</div>

<div aria-hidden="true" id="show_activityDetail_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">活动信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">活动名称：
                                </label>
                                <div class="col-md-9">
                                    <div class="">
                                        <input ng-model="activityInfo.name" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="!isNeedSelectRole">
                                <label class="col-md-3 control-label" ng-bind="activityRealName[activityInfo.conditions.condition[0]].name">上传案例赠送积分：</label>
                                <div class="col-md-9">
                                    <div>
                                        <div class="input-group input-daterange col-md-9">
                                            <span class="input-group-addon">每</span>
                                            <input type="text" value="1" disabled="" class="form-control">
                                            <span class="input-group-addon">个{{activityRealName[activityInfo.conditions.condition[0]].type}}</span>
                                            <input type="text" ng-model="activityInfo.dicounts[0].items[0].value" class="form-control">
                                            <span class="input-group-addon">{{activityRealName[activityInfo.conditions.condition[0]].unit}}</span>
                                        </div>
                                        <div class="input-group input-daterange col-md-6" ng-if="activityInfo.dicounts[0].items[0].limit > 0">
                                            <span class="input-group-addon">赠送上限</span>
                                            <input type="text" ng-model="activityInfo.dicounts[0].items[0].limit" class="form-control">
                                            <span class="input-group-addon">分</span>
                                        </div>
                                        <!--label ng-repeat="role in selectEditUsr.roleArray">
                                            <input type='radio' name='optionsRadios' ng-value='role.value' ng-model="selectEditUsr.role" />&nbsp;<span ng-class='role.style' ng-bind="role.name">客服</span>
                                        </label-->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-if="isNeedSelectRole">
                                <label class="col-md-3 control-label" ng-bind="activityRealName[activityInfo.conditions.condition[0]].name">邀请用户获赠保证金：</label>
                                <div class="col-md-4">
                                    <div>
                                        <select class="form-control" ng-options="role.name for role in rolesArray" ng-model="selectRole.role" ng-change="onSelectRoleChange()"></select>
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-3">
                                    <div>
                                        <div class="input-group input-daterange col-md-9">
                                            <span class="input-group-addon">获赠保证金数量</span>
                                            <input type="text" ng-model="selectRole.detail.value" class="form-control">
                                            <span class="input-group-addon">{{activityRealName[activityInfo.conditions.condition[0]].unit}}</span>
                                        </div>
                                        <!--label ng-repeat="role in selectEditUsr.roleArray">
                                            <input type='radio' name='optionsRadios' ng-value='role.value' ng-model="selectEditUsr.role" />&nbsp;<span ng-class='role.style' ng-bind="role.name">客服</span>
                                        </label-->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">开始时间：
                                </label>
                                <div class="col-md-9">
                                    <div class="">
                                        <input id="startTime" class="form-control" type="text" >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">结束时间：
                                </label>
                                <div class="col-md-9">
                                    <div class="">
                                        <input id="endTime" class="form-control" type="text" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-12">
                        <div class="pull-right">
                            <div class="form-group">
                                <button ng-click="setActivityStatus(1)" ng-show="!activityInfo['enabled']" type="button" class="btn btn-success">启用</button>
                                <button ng-click="setActivityStatus(0)" ng-show="activityInfo['enabled']" type="button" class="btn btn-info">结束</button>
                                <button type="button" class="btn btn-primary" ng-click="onUpdateActivity()">更新</button>
                            </div>
                        </div>
                    </div>

                    <!--div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input id="inputWorkerFirstName" type="text" value="姓" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input id="inputWorkerLastName" type="text" value="名" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                <input id="inputCardNumber" type="text" placeholder="Card number" class="form-control">
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="modal-footer">
                    <!--div >
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>