<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">平台价格配置</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="table-action" class="row">
        <div class="col-lg-12">
            <ul id="tableAllUserTab" class="nav nav-tabs">
                <li  class="active"><a data-target="#table-table-tab" href="#" data-toggle="tab">按大工种配置</a> </li>
                <li ><a data-target="#table-row-tab" href="#" data-toggle="tab">按小工种配置</a> </li>
                <!--li id="business"><a href="#table-panel-tab" data-toggle="tab">商家信息</a>
               </li-->
            </ul>
            <div id="tableactionTabContent" class="tab-content">
                <div id="table-table-tab" class="tab-pane fade in active">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <select data-style="btn-success" class="selectpicker form-control" ng-model="selectRole" ng-options="role.name for role in originalRoles"  ng-change="originalRoleSelect()">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-green">
                                <!--div class="panel-heading">
                                </div-->
                                <div class="panel-body pan">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body pal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">保证金： </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputGood" class="col-md-3 control-label">保证金提取比例</label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleFloat(roleRuleSetting.margin.rate)" ng-model="roleRuleSetting.margin.rate"  type="text"  class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">%</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputNotbad" class="col-md-3 control-label">保证金上限</label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleInt(roleRuleSetting.margin.up_threshold)" ng-model="roleRuleSetting.margin.up_threshold" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">元</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputBad" class="col-md-3 control-label">保证金下限</label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleInt(roleRuleSetting.margin.down_threshold)" ng-model="roleRuleSetting.margin.down_threshold" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">元</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputBad" class="col-md-3 control-label">保证金下限冻结时间</label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleInt(roleRuleSetting.margin.freeze_time)" ng-model="roleRuleSetting.margin.freeze_time" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">月</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">返还绩效佣金： </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">全部好评返还 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input ng-blur="onEditRoleFloat(roleRuleSetting.commission_return.reviews.by_all_good)"  ng-model="roleRuleSetting.commission_return.reviews.by_all_good" id="inputGood" type="text"  class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">%</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">每月签约 </label>
                                            <div class="col-md-3">
                                                <div class="input-icon">
                                                    <input ng-blur="onEditRoleInt(roleRuleSetting.commission_return.order.count)"  ng-model="roleRuleSetting.commission_return.order.count" type="text"  class="form-control" />
                                                </div>

                                            </div>
                                            <label class="col-lg-2 control-label">单以上，返还 </label>
                                            <div class="col-md-2">
                                                <div class="input-icon">
                                                    <input ng-blur="onEditRoleFloat(roleRuleSetting.commission_return.order.return_rate)"  ng-model="roleRuleSetting.commission_return.order.return_rate" type="text"  class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">%</label>
                                        </div>
                                        <hr>
                                        <div class="form-body pal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">评价积分： </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputGood" class="col-md-3 control-label">好评 <span class="require">*</span> </label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleIntEx(roleRuleSetting.score.inc_by_good)" ng-model="roleRuleSetting.score.inc_by_good" type="text"  class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">分</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputNotbad" class="col-md-3 control-label">中评 <span class="require">*</span> </label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleIntEx(roleRuleSetting.score.inc_by_normal)" ng-model="roleRuleSetting.score.inc_by_normal"  type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label for="inputGood" class=" control-label">分</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputBad" class="col-md-3 control-label">差评 <span class="require">*</span> </label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleIntEx(roleRuleSetting.score.inc_by_bad)" ng-model="roleRuleSetting.score.inc_by_bad" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">分</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">交易积分： </label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputGood" class="col-md-3 control-label">每  </label>
                                                <div class="col-md-5">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditRoleInt(roleRuleSetting.score.inc_by_pay)" ng-model="roleRuleSetting.score.inc_by_pay" type="text"  class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">元交易额，计1分</label>
                                            </div>
                                        </div>
                                        <div class="form-actions bottom pull-right">
                                            <div class="col-md-offset-3 col-md-9 ">
                                                <!--button type="submit" class="btn btn-primary">Send</button-->&nbsp;
                                                <button ng-disabled="checkInputRoleSyntaxStatus" ng-click="updateRoleRules()" type="button" class="btn btn-green">更新</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="table-row-tab" class="tab-pane fade">
                    <div class="row mbl">
                        <div class="col-lg-4">
                            <select data-style="btn-success" class="selectpicker form-control" ng-model="selectRole2" ng-options="role.name for role in originalRoles2"  ng-change="originalRole2Select()">
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <select data-style="btn-success" class="selectpicker form-control" ng-model="selectCraft" ng-options="role.name for role in originalCrafts"  ng-change="originalCraftSelect()">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-green">
                                <!--div class="panel-heading">
                                </div-->
                                <div class="panel-body pan">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body pal">
                                            <!--div class="form-group">
                                                <label class="col-md-3 control-label">佣金： </label>
                                            </div-->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">基础佣金提取比例</label>
                                                <div class="col-md-5">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditCraftFloat(craftRuleSetting.commission.basic)" ng-model="craftRuleSetting.commission.basic" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">%</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">绩效佣金提取比例</label>
                                                <div class="col-md-5">
                                                    <div class="input-icon">
                                                        <input ng-blur="onEditCraftFloat(craftRuleSetting.commission.float)" ng-model="craftRuleSetting.commission.float" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <label class="control-label">%</label>
                                            </div>
                                        </div>
                                        <!--hr-->
                                        <!--div class="form-group">
                                            <label class="col-md-3 control-label">定金： </label>
                                        </div-->
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">定金金额 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input ng-blur="onEditCraftInt(craftRuleSetting.order.earnest)"  ng-model="craftRuleSetting.order.earnest" type="text"  class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">元</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">是否托管尾款 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input type="checkbox" ng-model="craftRuleSetting.order.need_trustee" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">现金券： </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">每笔支付金额须大于 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input   type="text"  ng-blur="onEditCraftInt(craftRuleSetting.ubeans.down_threshold)" ng-model="craftRuleSetting.ubeans.down_threshold" class="form-control" />
                                                </div>
                                            </div>
                                            <label class=" control-label">元</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">每笔最多使用 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input  type="text"  ng-blur="onEditCraftInt(craftRuleSetting.ubeans.up_threshold)" ng-model="craftRuleSetting.ubeans.up_threshold" class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">元</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">按每笔支付金额计算可以使用 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input  type="text"  ng-blur="onEditCraftFloat(craftRuleSetting.ubeans.use_rate)" ng-model="craftRuleSetting.ubeans.use_rate" class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">%的现金券 </label>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">发布需求： </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">最大可抢单人数 </label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input  type="text"  ng-blur="onEditCraftInt(craftRuleSetting.order.max_candidates)" ng-model="craftRuleSetting.order.max_candidates" class="form-control" />
                                                </div>
                                            </div>
                                            <label class=" control-label">人 </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">未支付定金的订单的有效时间</label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input  type="text" ng-blur="onEditCraftInt(craftRuleSetting.order.non_earnest_keep_time)" ng-model="craftRuleSetting.order.non_earnest_keep_time" class="form-control" />
                                                </div>
                                            </div>
                                            <label class=" control-label">天 </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGood" class="col-md-3 control-label">未被抢的订单的有效时间</label>
                                            <div class="col-md-5">
                                                <div class="input-icon">
                                                    <input  type="text" ng-blur="onEditCraftInt(craftRuleSetting.order.non_candidates_keep_time)" ng-model="craftRuleSetting.order.non_candidates_keep_time" class="form-control" />
                                                </div>
                                            </div>
                                            <label class="control-label">小时 </label>
                                        </div>
                                        <div class="form-actions bottom pull-right">
                                            <div class="col-md-offset-3 col-md-9 ">
                                                <!--button type="submit" class="btn btn-primary">Send</button-->&nbsp;
                                                <button ng-disabled="checkInputCraftSyntaxStatus" ng-click="updateCraftRules()" type="button" class="btn btn-green">更新</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
