<!DOCTYPE html>
<html lang="en">

<head>
    <title>悠住后台管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-switch/css/bootstrap-switch.css">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-notific8/jquery.notific8.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" class="default-style">
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/laypage.css">
</head>

<body class=" ">
<div>
<!--BEGIN TOPBAR-->
<%

    var uuid = userInfo.id;
    var username = userInfo.username;
    var user_role = userInfo.role;
    var city = userInfo.city;

%>
<div id="header-topbar-option-demo" class="page-header-topbar">
<nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
    <a id="logo" href="/" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">UZUOO</span>
        <span style="display: none" class="logo-text-icon">µ</span>
    </a>
</div>
<div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
<form id="topbar-search" action="#" method="GET" class="hidden-xs">
    <div class="input-group">
        <input type="text" placeholder="Search..." class="form-control" /><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span>
    </div>
</form>
<ul class="nav navbar navbar-top-links navbar-right mbn">
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle">
            <img src="/images/avatar/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;
            <span class="hidden-xs"><%= username %></span>&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a>
            </li>
        </ul>
    </li>
</ul>
</div>
</nav>


</div>
<!--END TOPBAR-->
<div id="wrapper">
<!--BEGIN SIDEBAR MENU-->
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="/images/avatar/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p><%= username %></p>
                    <ul class="list-inline list-unstyled">
                        <input id="useruuid" type="hidden" value=<%= uuid%>>
                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modify_account_pw_dlg"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li >
                <a href="/"><i class="fa fa-home fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">悠住</span></a>
            </li>

            <li ><a href="#"><i class="fa fa-user fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/customer"><i class="fa fa-tablet"></i><span class="submenu-title">悠住用户</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li ><a href="/users"><i class="fa fa-desktop"></i><span class="submenu-title">后台用户</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-th-list fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/orders"><i class="fa fa-truck"></i><span class="submenu-title">订单查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="/billsMgtPage"><i class="fa fa-cny"></i><span class="submenu-title">订单台账</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-rss-square fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">活动信息管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-table"></i><span class="submenu-title">活动查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i><span class="submenu-title">信息发布</span></a>
                    </li>
                </ul>
            </li>

            <li class="active"><a href="#"><i class="fa fa-trello fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">运营管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">APP活跃度统计</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-money"></i><span class="submenu-title">优惠券使用统计</span></a>
                    </li>
                    <li class="active"><a href="/amountMgtPage"><i class="fa fa-th-large"></i><span class="submenu-title">价格管理</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="/history"><i class="fa fa-file-o fa-fw"><div class="icon-bg bg-green"></div></i><span class="menu-title">系统日志</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--END SIDEBAR MENU-->

<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">平台价格配置</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
<div class="row">
<div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-body">
                         <div id="flip-scroll">

                            <table class="table  table-bordered table-advanced table-lg" >
                                <thead class="cf" >
                                    <tr>
                                        <th width="20%"><div style="text-align:center">工种</div></th>
                                        <th width="30%" ><div style="text-align:center">细项</div></th>
                                        <th width="50%"><div style="text-align:center">金额配置</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul  id="roles-ul" class="nav nav-pills nav-stacked">

                                            </ul>
                                        </td>
                                        <td>
                                            <ul id="crafts-ul" class="nav nav-pills nav-stacked">

                                            </ul>
                                        </td>
                                        <td class="numeric">
                                            <div id="amountSetting-div" style="display: none">
                                                <form class="form-horizontal">
                                                    <div class="form-body pal">
                                                        <div class="form-group">
                                                            <span>您选择的 </span>
                                                            <label style="color: dodgerblue" id="showRole-label" class="control-label">
                                                            </label>
                                                            <span>价格的配置如下：</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">定金：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="earnestSet-input" name="check_int-input" type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">托管尾款：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div data-on="success" data-off="warning" class="make-switch">
                                                                    <input id="need_trustee-input" type="checkbox" checked="checked" class="switch" />
                                                                </div>&nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="col-md-4 control-label">基本佣金比例：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="commission_basicSet-input" type="text" name="check_float-input" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="col-md-4 control-label">绩效佣金比例：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="commission_floatSet-input" type="text" name="check_float-input" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">保证金抽取比例：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="margin_rateSet-input" type="text" name="check_float-input" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="col-md-4 control-label">保证金上限：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="margin_up_thresholdSet-input" name="check_int-input" type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  class="col-md-4 control-label">保证金下限：
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div >
                                                                    <input id="margin_down_thresholdSet-input" name="check_int-input" type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span id="amountSetResult-info"></span>
                                                    <div class="form-actions text-right pll prl">
                                                            <!--button type="submit" class="btn btn-primary">Send</button-->&nbsp;
                                                            <button id="updateAmountSet-btn" type="button" class="btn btn-green">更新</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
<!--END CONTENT-->
</div>


<%- include footer %>

<script src="vendors/DataTables/media/js/jquery.dataTables.js"></script>
<script src="vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
<script src="vendors/DataTables/jquery.jeditable.js"></script>
<script src="js/table-editable.js"></script>

<script src="custom/fe_amountMgt.js"></script>
<script src="vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
