<!DOCTYPE html>
<html lang="en">

<head>
    <title>悠住后台管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="vendors/intro.js/introjs.css">
    <link type="text/css" rel="stylesheet" href="vendors/calendar/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/sco.message/sco.message.css">
    <link type="text/css" rel="stylesheet" href="vendors/intro.js/introjs.css">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-notific8/jquery.notific8.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" class="default-style">
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/laypage.css">
</head>

<body class=" ">
<div>
<!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
<!--END BACK TO TOP-->
<!--BEGIN TOPBAR-->
<%

    var uuid = userInfo.id;
    var username = userInfo.username;
    var user_role = userInfo.role;
    var city = userInfo.city;

%>
<div id="header-topbar-option-demo" class="page-header-topbar">
<nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button><a id="logo" href="/" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">UZUOO</span><span style="display: none" class="logo-text-icon">µ</span></a>
</div>
<div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
<ul class="nav navbar-nav">
    <li class="active"><a href="/">Dashboard</a>
    </li>
    <li><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">Layouts
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li><a href="layout-left-sidebar.html">Left Sidebar</a>
            </li>
            <li><a href="layout-right-sidebar.html">Right Sidebar</a>
            </li>
            <li><a href="layout-left-sidebar-collapsed.html">Left Sidebar Collasped</a>
            </li>
            <li><a href="layout-right-sidebar-collapsed.html">Right Sidebar Collasped</a>
            </li>
            <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Second level link</a>
                    </li>
                    <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Second level link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="mega-menu-dropdown"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">UI Elements
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content">
                    <div class="row">
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="mega-menu-dropdown mega-menu-full"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">Extras
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 document-demo">
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-info-circle"></i><span>Introduction</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-download"></i><span>Installation</span></a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-cog"></i><span>T3 Settings</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-desktop"></i><span>Layout System</span></a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-magic"></i><span>Customization</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-question-circle"></i><span>FAQs</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
<form id="topbar-search" action="#" method="GET" class="hidden-xs">
    <div class="input-group">
        <input type="text" placeholder="Search..." class="form-control" /><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span>
    </div>
</form>
<ul class="nav navbar navbar-top-links navbar-right mbn">
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle">
            <img src="/images/avatar/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;
            <span class="hidden-xs"><%= username %></span>&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a>
            </li>
        </ul>
    </li>
</ul>
</div>
</nav>


</div>
<!--END TOPBAR-->
<div id="wrapper">
<!--BEGIN SIDEBAR MENU-->
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="/images/avatar/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p><%= username %></p>
                    <ul class="list-inline list-unstyled">
                        <!--li><a href="extra-profile.html" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="email-inbox.html" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a>
                        </li-->
                        <input id="useruuid" type="hidden" value=<%= uuid%>>
                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modify_account_pw_dlg"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li >
                <a href="/"><i class="fa fa-home fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">悠住</span></a>
            </li>

            <li class="active"><a href="#"><i class="fa fa-user fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/customer"><i class="fa fa-tablet"></i><span class="submenu-title">悠住用户</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li class="active"><a href="/users"><i class="fa fa-desktop"></i><span class="submenu-title">后台用户</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-th-list fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/orders"><i class="fa fa-truck"></i><span class="submenu-title">订单查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-cny"></i><span class="submenu-title">订单台账</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-rss-square fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">活动信息管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-table"></i><span class="submenu-title">活动查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i><span class="submenu-title">信息发布</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-trello fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">运营管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">APP活跃度统计</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-money"></i><span class="submenu-title">优惠券使用统计</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-th-large"></i><span class="submenu-title">价格管理</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="/history"><i class="fa fa-file-o fa-fw"><div class="icon-bg bg-green"></div></i><span class="menu-title">系统日志</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--END SIDEBAR MENU-->

<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">后台人员管理</div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
        <li><i class="fa fa-home"></i>&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="#">Tables</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Edit Tables</li>
    </ol>
    <div class="btn btn-blue reportrange hide"><i class="fa fa-calendar"></i>&nbsp;<span></span>&nbsp;report&nbsp;<i class="fa fa-angle-down"></i>
        <input type="hidden" name="datestart" />
        <input type="hidden" name="endstart" />
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
<div class="row">
<!--div class="col-lg-12">
    <div class="note note-info">
        <h4 class="box-heading">Jeditable</h4>
        <p>Click "edit" button to change data row, then click "save" to apply. Using "delete" button to trash that row.</p>
        <p>Fill value into search form to find.</p>
    </div>
</div-->
<div class="col-lg-12">
    <div class="panel panel-green">
        <div class="panel-heading">人员信息</div>
        <div class="panel-body">
            <div class="row mbl">
                <div class="col-lg-6">
                    <div class="input-group input-group-sm mbs"><span class="input-group-btn">
                            <!--button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Filter
                                &nbsp;<span class="caret"></span>
                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#"><i class="fa fa-tint"></i>&nbsp;
                                                                        Newest</a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-star"></i>&nbsp;
                                                                        Rating</a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-money"></i>&nbsp;
                                                                        Price</a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-user"></i>&nbsp;
                                                                        Sales</a>
                                                                </li>
                                                            </ul>
                                                            </span>
                        <input type="text" placeholder="Enter here..." class="form-control" /><span class="input-group-btn"><button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Search</button></span-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tb-group-actions pull-right"><span></span>
                        <button id="btn-allDel-warning" class="btn btn-primary " data-target="modal-confirm-all" data-toggle="modal" >
                            <!--i class="fa fa-check"&nbsp; ></i-->删除
                        </button>

                        <button type="button" class="btn btn-blue " data-target="#create_account_dlg" data-toggle="modal" >
                            <!--i class="fa fa-check">&nbsp;</i-->创建用户
                        </button>
                    </div>
                </div>
            </div>
            <table id="bgUsers-tab" class="table table-hover table-bordered table-advanced">
                <thead>
                <tr role="row" class="heading">
                    <th width="3%" class="sorting_disabled">
                        <input type="checkbox" class="checkall" />
                    </th>
                    <th width="10%" class="sorting">用户名</th>
                    <th width="10%" class="sorting">职位权限</th>
                    <th width="10%" class="sorting">城市</th>
                    <th width="5%" class="sorting"></th>
                </tr>

                </thead>
                <tbody>
                <!--tr>
                    <td>
                        <input type="checkbox" class="checkbox" />
                    </td>
                    <td>yun_feng</td>
                    <td>客服
                    </td>
                    <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp; 编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp; 删除
                        </button>
                    </td>
                </tr-->
                </tbody>
            </table>
            <div id="bgUserPage"></div>
        </div>
    </div>
    </div>
    <!--Modal Confirm-->
    <div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">你确定删除吗?</div>
                <div class="modal-footer">
                    <input type="hidden" value="">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button id="btn-del" type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-confirm-all" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">你确定删除吗?</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button id="btn-delAll" type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" id="create_account_dlg" tabindex="-1"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">

                    <!-- start -->
                    <div class="col-lg-12" style="height:10%">
                        <div class="portlet box portlet-blue">
                            <div class="portlet-header">
                                <div class="caption">创建用户</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <form class="form-horizontal">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">账号名 <span class="require">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-user"></i> <input id="create_account_name_input" name="create_account_name_input" class="form-control input-sm" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">初始密码 <span class="require">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-eye-slash"></i> <input id="create_account_password_input" name="create_account_password_input" class="form-control input-sm" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">确认密码 <span class="require">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-eye-slash"></i> <input id="create_account_confirm_password_input" name="create_account_confirm_password_input" class="form-control input-sm" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">城市</label>
                                    <div class="col-md-9">
                                        <div id="create_city_div">
                                            <select id="create-pro-sel" class="prov"></select>
                                            <select id="create-city-sel" class="city" disabled="disabled"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">职位</label>
                                    <div class="col-md-9">
                                        <div id="roleRadio" class="radio">
                                            <label>
                                                <input id="optionsRadios25" type="radio" name="optionsRadios" value="0" checked="checked" />&nbsp; 地推</label>
                                            <label>
                                                <input id="optionsRadios26" type="radio" name="optionsRadios" value="1"  />&nbsp; 客服</label>
                                            <label>
                                                <input id="optionsRadios27" type="radio" name="optionsRadios" value="2"  />&nbsp; 财务</label>
                                            </label>
                                            <label>
                                                <input id="optionsRadios27" type="radio" name="optionsRadios" value="2"  />&nbsp; 运营</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end -->
                </div>
                <div class="modal-footer">
                    <div id="create_conference_footer">
                        <div class="col-md-6">
                            <p class="text-left" style="display:none;" id="create_account_error_tooltip_p">
                                <span class="label label-danger" id="create_account_error_tooltip_span"></span>
                            </p>
                        </div>
                        <div class="col-md-6">

                            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                            <button type="button" id="create_account_create_btn" class="btn btn-primary" disabled >确定</button><!--disabled -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" id="edit_account_dlg" tabindex="-1"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">

                    <!-- start -->
                    <div class="col-lg-12" style="height:10%">
                        <div class="portlet box portlet-blue">
                            <div class="portlet-header">
                                <div class="caption">编辑用户</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <form class="form-horizontal">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">账号名 <span class="require">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <input id="accountEdit" value="" style="display: none">
                                            <i class="fa fa-user"></i> <input id="modify_account_name_input" name="modify_account_name_input" class="form-control input-sm" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">城市</label>
                                    <div class="col-md-9">
                                        <div id="edit_city_div">
                                            <select id="edit-pro-sel" class="prov"></select>
                                            <select id="edit-city-sel" class="city" disabled="disabled"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">职位</label>
                                    <div class="col-md-9">
                                        <div id="edit_roleRadio_div">
                                            <!--label>
                                                <input id="optionsRadios28" type="radio" name="optionsRadios1" value="0"   checked="checked" />&nbsp; 客服</label>
                                            <label>
                                                <input id="optionsRadios29" type="radio" name="optionsRadios1" value="1"  />&nbsp; 财务</label>
                                            <label>
                                                <input id="optionsRadios30" type="radio" name="optionsRadios1" value="2"  />&nbsp; 运营</label>
                                            </label-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end -->
                </div>
                <div class="modal-footer">
                    <div id="modify_conference_footer">
                        <div class="col-md-6">
                            <p class="text-left" style="display:none;" id="modify_account_error_tooltip_p">
                                <span class="label label-danger" id="modify_account_error_tooltip_span"></span>
                            </p>
                        </div>
                        <div class="col-md-6">

                            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                            <button type="button" id="update_account_update_btn" class="btn btn-primary">更新</button><!--disabled -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<!--END CONTENT-->
</div>

<!--BEGIN FOOTER-->
<div aria-hidden="true"  id="modify_account_pw_dlg" tabindex="-1"  class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0a819c;color:white;" id="add_device_dlg_title">
                <h4 id="modal-header-primary-label" class="modal-title" >修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" id="add_device_content_div">
                        <form class="form-horizontal" id="modify_account_pw_form" action="#" method="POST">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">密码 <span class="require">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-eye-slash"></i> <input id="old_account_password_input" name="old_account_password_input" class="form-control input-sm" type="password">
                                        </div>
                                    </div>
                                    <label class="col-md-3 control-label" style="color:red;display:none;text-align:left;" id="add_device_orders_error_label"></span>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">新密码<span class="require">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-eye-slash"></i> <input id="modify_account_password_input" name="modify_account_password_input" class="form-control input-sm" type="password">
                                        </div>
                                    </div>
                                    <label class="col-md-3 control-label" style="color:red;display:none;text-align:left;" id="add_device_mac_error_label"></span>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-md-3 control-label">确认密码<span class="require">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-eye-slash"></i> <input id="modify_account_confirm_password_input" name="modify_account_confirm_password_input" class="form-control input-sm" type="password">
                                        </div>
                                    </div>
                                    <label class="col-md-3 control-label" style="color:red;display:none;text-align:left;" id="add_device_mac_error_label"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div id="create_conference_footer">
                    <div class="col-md-6">
                        <p class="text-left" style="display:none;" id="modify_account_pw_error_tooltip_p">
                            <span class="label label-danger" id="modify_account_pw_error_tooltip_span"></span>
                        </p>
                    </div>
                    <div class="col-md-6">

                        <button type="button" id="modify_account_pw_cancel_btn" class="btn btn-default">取消</button>
                        <button type="button" id="modify_account_pw_btn" class="btn btn-primary" >更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="copyright">2014 © &mu;Admin - Responsive Multi-Style Admin Template</div>
</div>
<!--END FOOTER-->
<!--END PAGE WRAPPER-->
</div>
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<!--loading bootstrap js-->
<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="vendors/metisMenu/jquery.metisMenu.js"></script>
<script src="vendors/slimScroll/jquery.slimscroll.js"></script>
<script src="vendors/jquery-cookie/jquery.cookie.js"></script>
<script src="vendors/iCheck/icheck.min.js"></script>
<script src="vendors/iCheck/custom.min.js"></script>
<script src="vendors/jquery-notific8/jquery.notific8.min.js"></script>
<script src="vendors/jquery-highcharts/highcharts.js"></script>
<script src="js/jquery.menu.js"></script>
<script src="vendors/jquery-pace/pace.min.js"></script>
<script src="vendors/holder/holder.js"></script>
<script src="vendors/responsive-tabs/responsive-tabs.js"></script>
<script src="vendors/jquery-news-ticker/jquery.newsTicker.min.js"></script>
<script src="vendors/moment/moment.js"></script>
<script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!--CORE JAVASCRIPT-->
<script src="js/main.js"></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src="vendors/DataTables/media/js/jquery.dataTables.js"></script>
<script src="vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
<script src="vendors/DataTables/jquery.jeditable.js"></script>
<script src="js/table-editable.js"></script>

<script src="lib/jquery.cityselect.js"></script>
<script src="lib/laypage.js"></script>
<script src="lib/md5.js"></script>
<script src="lib/uuid.js"></script>
<script src="custom/bg_userList.js"></script>
<script src="custom/passwordmgt.js"></script>

<script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-145464-14', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>