<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">订单台账</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading">账户明细表</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tradeDetails-table" class="table table-striped table-bordered table-hover">
                            <thead class="cf">
                            <tr>
                                <!--th width="3%" class="sorting_disabled">
                                    <input type="checkbox" class="checkall" />
                                </th-->
                                <th >日期</th>
                                <!--th width="5%">城市</th-->
                                <th >支付编号</th>
                                <th >订单编号</th>
                                <th class="numeric">交易总额</th>
                                <th width="5%">支付来源</th>
                                <th class="numeric">实际支付</th>
                                <th >支付项</th>
                                <th  >支付明细</th>
                                <th >目标账户</th>
                                <th class="numeric">入账金额</th>
                                <th >状态</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="billInfo in billsArray">
                                    <!--td><input type="checkbox" class="checkbox" /></td-->
                                    <td ng-bind="timeToStr(billInfo.create_time*1000)"></td>
                                    <!--td ng-bind="getCityAndRegionStr(billInfo.city).city"></td-->
                                    <td ng-bind="billInfo.contract_item_no"></td>
                                    <td ng-bind="billInfo.order_no"></td>
                                    <td ng-bind="billInfo.amount"></td>
                                    <td ng-bind="billInfo['source'][0].Capital_account_id"></td>
                                    <td ng-bind="billInfo.actual_pay"></td>
                                    <td ng-bind="billInfo.type"></td>
                                    <td ng-bind="billInfo.detail"></td>
                                    <td ng-bind="billInfo['target'][0].Capital_account_id"></td>
                                    <td ng-bind="billInfo.arrival_amount"></td>
                                    <td>
                                        <button ng-click="checkBill(billInfo)" ng-if="billInfo.status == 0" type="button" name="pendingBill-btn" ng-class="{0:'btn btn-info btn-xs',1:'btn btn-warning btn-xs'}[billInfo.status]">
                                            <i class="fa fa-circle-o"></i>&nbsp; <span >通过初审</span>
                                        </button>
                                        <button ng-click="rejectBill(billInfo)" ng-if="billInfo.status == 0" type="button" class="btn btn-primary btn-xs" >
                                            <i class="fa fa-times"></i>&nbsp; <span > 驳回初审</span>
                                        </button>

                                        <button ng-click="checkBill(billInfo)" ng-if="billInfo.status == 1" type="button" name="pendingBill-btn" ng-class="{0:'btn btn-info btn-xs',1:'btn btn-warning btn-xs'}[billInfo.status]">
                                            <i class="fa fa-check-circle-o"></i>&nbsp; <span >通过复审</span>
                                        </button>
                                        <button ng-click="rejectBill(billInfo)" ng-if="billInfo.status == 1" type="button" class="btn btn-primary btn-xs" >
                                            <i class="fa fa-times"></i>&nbsp; <span > 驳回复审</span>
                                        </button>

                                        <span ng-if="billInfo.status == 2" class="label label-sm label-success">复核成功</span>
                                        <span ng-if="billInfo.status == 3" class="label label-sm label-primary">初审未通过</span>
                                        <span ng-if="billInfo.status == 4" class="label label-sm label-primary">复审未通过</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="billsPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>