<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">类别管理</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content">
    <div class="col-log-12">
        <ul id="tableAllUserTab" class="nav nav-tabs">
            <li class="active"><a href="#" data-target="#table-worker" data-toggle="tab">工种管理</a>
            </li>
            <li><a href="#" data-target="#table-merchants" data-toggle="tab">商品类别管理</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="table-worker" class="tab-pane fade in active">
                <div class="panel panel-blue">
                    <div class="panel-body">
                        <div id="flip-scroll">
                            <table class="table  table-bordered table-advanced table-lg">
                                <thead class="cf">
                                    <tr>
                                        <th width="10%">
                                            <div style="text-align:center">大工种</div>
                                        </th>
                                        <th width="30%">
                                            <div style="text-align:center">大工种详细内容</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul class="nav nav-pills nav-stacked">
                                                <li>
                                                    <button class="btn btn-primary" data-target="#new_role_dlg" data-toggle="modal" ng-click="onShowNewRoleDlg()">新增大工种</button>
                                                </li>
                                                <li ng-repeat="role in roleArray">
                                                    <a href="#" ng-bind="role.name" ng-click="onSelectRole(role)">设计师</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td ng-if="selectedRole">
                                            <ul class="nav nav-pills nav-stacked">

                                                <form class="form-horizontal">
                                                    <div class="form-body pal">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">名称：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <div>
                                                                    <input ng-change="onChangeRoleName()" ng-model='selectedRole.name' type="text" style="color:black;" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">可见性：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <select ng-change="onChangeRoleVisable()" data-style="btn-grey" ng-model='selectedRole.visible'>
                                                                    <option value=0>隐藏</option>
                                                                    <option value=1>显示</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">包含小工种：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <div ng-repeat="craft in selectedRole.crafts" style="display:inline;">
                                                                    <a href="#" ng-bind="craft.name" data-target="#edit_craft_dlg" data-toggle="modal" ng-click="onSelectCraft(craft)"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-right pll prl">
                                                        <!--button type="submit" class="btn btn-primary">Send</button-->&nbsp;
                                                        <button id="updateAmountSet-btn" type="button" class="btn btn-green" ng-click="onShowNewCraftDlg()" data-target="#new_craft_dlg"
                                                        data-toggle="modal">新增小工种</button>
                                                    </div>
                                                </form>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="table-merchants" class="tab-pane fade">
                <div class="panel panel-blue">
                    <div class="panel-body">
                        <div id="flip-scroll">
                            <table class="table  table-bordered table-advanced table-lg">
                                <thead class="cf">
                                    <tr>
                                        <th width="10%">
                                            <div style="text-align:center">商品大类别</div>
                                        </th>
                                        <th width="30%">
                                            <div style="text-align:center">商品大类别详细内容</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul class="nav nav-pills nav-stacked">
                                                <li>
                                                    <button class="btn btn-primary" data-target="#new_merchant_role_dlg" data-toggle="modal" ng-click="onShowNewMerchantsRoleDlg()">新增大类别</button>
                                                </li>
                                                <li ng-repeat="role in merchantsRoleArray">
                                                    <a href="#" ng-bind="role.name" ng-click="onSelectMerchantsRole(role)"></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td ng-if="selectedMerchantsRole">
                                            <ul class="nav nav-pills nav-stacked">

                                                <form class="form-horizontal">
                                                    <div class="form-body pal">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">名称：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <div>
                                                                    <input ng-change="onChangeMerchantsRoleName()" ng-model='selectedMerchantsRole.name' type="text" style="color:black;" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">可见性：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <select ng-change="onChangeMerchantsRoleVisable()" data-style="btn-grey" ng-model='selectedMerchantsRole.visible'>
                                                                    <option value=0>隐藏</option>
                                                                    <option value=1>显示</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">包含小类别：
                                                            </label>
                                                            <div class="col-md-4">
                                                                <div ng-repeat="craft in selectedMerchantsRole.crafts" style="display:inline;">
                                                                    <a href="#" ng-bind="craft.name" data-target="#edit_merchant_craft_dlg" data-toggle="modal" ng-click="onSelectMerchantsCraft(craft)"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-right pll prl">
                                                        <!--button type="submit" class="btn btn-primary">Send</button-->&nbsp;
                                                        <button id="updateAmountSet-btn" type="button" class="btn btn-green" ng-click="onShowNewMerchantsCraftDlg()" data-target="#new_merchant_craft_dlg"
                                                        data-toggle="modal">新增小类别</button>
                                                    </div>
                                                </form>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div aria-hidden="true" id="new_craft_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">新增小工种</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">名称</span>
                                <input type="text" ng-model="newCraft.name" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onNewCraft()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="edit_craft_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">编辑小工种</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">名称：
                                </label>
                                <div class="col-md-4">
                                    <div>
                                        <input ng-change="onChangeCraftName()" ng-model='selectedCraft.name' type="text" style="color:black;" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">可见性：
                                </label>
                                <div class="col-md-4">
                                    <select ng-change="onChangeCraftVisable()" data-style="btn-grey" ng-model='selectedCraft.visible'>
                                        <option value=0>隐藏</option>
                                        <option value=1>显示</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onSaveChange()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="new_role_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">新增大工种</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">名称</span>
                                <input type="text" ng-model="newRole.name" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onNewRole()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div aria-hidden="true" id="new_merchant_craft_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">新增小类别</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">名称</span>
                                <input type="text" ng-model="newMerchantsCraft.name" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onNewMerchantsCraft()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="edit_merchant_craft_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">编辑小类别</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">名称：
                                </label>
                                <div class="col-md-4">
                                    <div>
                                        <input ng-change="onChangeMerchantsCraftName()" ng-model='selectedMerchantsCraft.name' type="text" style="color:black;" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">可见性：
                                </label>
                                <div class="col-md-4">
                                    <select ng-change="onChangeMerchantsCraftVisable()" data-style="btn-grey" ng-model='selectedMerchantsCraft.visible'>
                                        <option value=0>隐藏</option>
                                        <option value=1>显示</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" >确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="new_merchant_role_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">新增大类别</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">名称</span>
                                <input type="text" ng-model="newMerchantsRole.name" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onNewMerchantsRole()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>