<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">悠住用户</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="table-action" class="row">
        <div class="col-lg-12">
            <ul id="tableAllUserTab" class="nav nav-tabs">
                <li id="worker" class="active"><a data-target="#table-table-tab" href="#" data-toggle="tab">工人信息</a>
                </li>
                <li id="houseOwner"><a data-target="#table-row-tab" href="#" data-toggle="tab">业主信息</a>
                </li>
                <li id="business"><a data-target="#table-panel-tab" href="#" data-toggle="tab">商家信息</a>
                </li>
            </ul>
            <div id="tableactionTabContent" class="tab-content">

                <!-- 工人信息 -->
                <div id="table-table-tab" class="tab-pane fade in active">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <div class="tb-group-actions pull-left">
                                <select id="keyWord-sel" data-style="btn-grey" ng-model='workSearchFilter.keyword'>
                                    <option value="phone">电话号码</option>
                                    <option value="id_card_no">身份证</option>
                                    <option value="full_name">姓名</option>
                                </select>
                                <input id="exactSearch-input" type="text" placeholder="输入对应关键字查找..." ng-model='workSearchFilter.keywordValue'/>
                                <button id="exactSearch-btn" type="button" ng-click="onWorkerExactSearch()">查找</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div style="position: relative;top: 6px">
                                <span data-value="0"><a href="javascript:;" ng-click="onClickMore()">{{moreLinkStr}}<i ng-class="{true: 'fa fa-sort-desc', false: 'fa fa-sort-asc'}[moreLink]"class="fa fa-sort-desc"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div id="more_find_div" class="row mbm" ng-show="!moreLink">
                        <div ng-if="userInfo.role == 99" class="col-lg-12">
                            城市 :
                            <select ng-options="province.name for province in provinceArray" ng-model="workSearchFilter.provinceSel" ng-change="onProvinceSelect()"></select>
                            <select ng-options="city.name for city in cityArray" ng-model="workSearchFilter.citySel" ng-change="onCitySelect()"></select>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div>
                                <label>区域 :</label><input type="checkbox" ng-model = "regionChkAll" class="icheckbox_minimal-grey" ng-click="checkAll(workSearchFilter.regionSelArray)" />全选
                            </div>
                            <div id="regions-div">
                                <div ng-repeat="region in workSearchFilter.regionSelArray"  style="display:inline;">
                                    
                                    <input id='{{region.id + 1}}' type="checkbox" ng-model = "region.selected"/>
                                    <label for='{{region.id + 1}}'>{{region.name}}</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            工种 :
                            <select ng-options="role.name for role in originalRoles" ng-model="workSearchFilter.originalRoleSel" ng-change="originalRoleSelect()"></select>
                            <div ng-show="workSearchFilter.craftsArray.length != 0">
                                <div>
                                细项：<input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(workSearchFilter.craftsArray)" />全选
                                </div>
                                <div ng-repeat="craft in workSearchFilter.craftsArray"  style="display:inline;">
                                    <input id='{{craft.id}}' type="checkbox" ng-model = "craft.selected"/>
                                    <label for='{{craft.id}}'>{{craft.name}}</label>
                                </div>
                            </div>
                        </div>
                        <!--div class="col-lg-6">
                            <div id="verifedStates-div">
                                认证状态 : <input id="workerVerified-0" value="0" type="checkbox" /><label >未认证</label>
                                <input id="workerVerified-1" value="1" type="checkbox" /><label >待认证</label>
                                <input id="workerVerified-1" value="2" type="checkbox" /><label >已认证</label>
                                <input id="workerVerified-1" value="3" type="checkbox" /><label >驳回认证</label>


                            </div>
                        </div-->
                        <div class="col-lg-offset-5 col-lg-12">
                            <button id="screen-btn" ng-click="onSearch()"><i class="fa fa-search"></i>&nbsp;筛选
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="edit_worker_table" class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                <thead>
                                    <tr>
                                        <th width="3%" class="sorting_disabled">
                                            <input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(workersInfo)" />
                                        </th>
                                        <th width="5%">真实姓名</th>
                                        <th width="5%">身份证号</th>
                                        <th width="5%">联系方式</th>
                                        <th width="6%">注册时间</th>
                                        <th width="7%">
                                            <select data-style="btn-grey" ng-model="workSearchFilter.verified" class="selectpicker form-control" ng-change="onSearch()">
                                                <!--option value="-1">选择认证状态</option-->
                                                <option value="all">所有认证状态</option>
                                                <option value="0">未认证</option>
                                                <option value="1">待认证</option>
                                                <option value="2">已认证</option>
                                                <option value="3">认证驳回</option>
                                            </select>
                                        </th>
                                        <th width="5%">城市</th>
                                        <th width="5%">区域</th>
                                        <th width="5%">第一工种</th>
                                        <!--th width="5%">第二工种</th-->
                                        <th width="3%"></th>
                                    </tr>
                                </thead>
                                <tbody id="workerAvater_tbody" style="">
                                    <tr ng-repeat="worker in workersInfo">
                                        <td><input type="checkbox" ng-model="worker.selected" class="checkbox" /></td>
                                        <td ng-bind="worker.first_name + worker.last_name"></td>
                                        <td ng-bind="worker.id_card_no"></td>
                                        <td ng-bind="worker.phone"></td>
                                        <td ng-bind="timeToStr(worker.create_time *1000)"></td>
                                        <td><span class="label label-sm" ng-class="{0:'label-warning',1:'label-dark',2:'label-success',3:'label-primary'}[worker.verified]" ng-bind="getVerifiedStatus(worker.verified)">未认证</span></td>
                                        <td ng-bind="getCityAndRegionStr(worker.regions).city">城市</td>
                                        <td ng-bind="getCityAndRegionStr(worker.regions).regions">区域</td>
                                        <td ng-bind="getCategoryStr(worker.categories).firt">第一工种</td>
                                        <!--td ng-bind="getCategoryStr(worker.categories).second">第二工种</td-->
                                        <td id='' abbr=''>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="onShowMoreWorkerInfo(worker)"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                            </button>&nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <br>
                            <div id="uzWorkerPage"></div>
                            <div class="pull-right">
                                <button  type="button" data-target="#send_msg_dlg" data-toggle="modal" ng-click="onSendMsgForAllWorker()" class="btn btn-info">群发送通知</button>
                                <button  type="button" data-target="#send_msg_dlg" data-toggle="modal" ng-click="onSendMsgForSelectedWorker()" class="btn btn-primary">向选中工人发送通知</button>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <!-- 业主信息 -->
                <div id="table-row-tab" class="tab-pane fade">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <div class="tb-group-actions pull-left">
                                <select data-style="btn-grey" ng-model='houseOnwerSearchFilter.keyword'>
                                    <option value="nick_name">昵称</option>
                                    <option value="phone">电话号码</option>
                                    <option value="user_name">用户名</option>
                                    <option value="full_name">姓名</option>
                                    <option value="email">邮箱</option>
                                </select>
                                <input id="exactSearch-input" type="text" placeholder="输入对应关键字查找..." ng-model='houseOnwerSearchFilter.keywordValue'/>
                                <button id="exactSearch-btn" type="button" ng-click="onHouseOwnerSearch()">查找</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-container">
                                <table id="edit_houseOwner_table" class="table table-hover table-striped table-bordered table-advanced tablesorter display dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th width="3%" class="sorting_disabled">
                                                <input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(houseOwnersInfo)" />
                                            </th>
                                            <!--th width="10%">昵称</th-->
                                            <th width="10%">用户名</th>
                                            <!--th width="10%">真实姓名</th-->
                                            <th width="10%">联系方式</th>
                                            <th width="7%">注册时间</th>
                                            <th width="3%"></th>
                                        </tr>
                                        <tbody>
                                            <tr ng-repeat="houseOwner in houseOwnersInfo">
                                                <td><input type="checkbox" ng-model="houseOwner.selected" class="checkbox" /></td>
                                                <!--td>{{houseOwner.nick_name}}</td-->
                                                <td>{{houseOwner.user_name}}</td>
                                                <!--td>{{houseOwner.first_name + houseOwner.last_name}}</td-->
                                                <td>{{houseOwner.phone}}</td>
                                                <td ng-bind="timeToStr(houseOwner.create_time *1000)"></td>
                                                <td id='' abbr=''>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="onShowMoreHouseInfo(houseOwner)"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                    </button>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </thead>
                                </table>
                                <div id="uzUserPage"></div>
                                <div class="pull-right">
                                    <!--button  type="button" data-target="#send_msg_dlg" data-toggle="modal" ng-click="onSendMsgForAllHouseOwner()" class="btn btn-info">群发送通知</button>
                                    <button  type="button" data-target="#send_msg_dlg" data-toggle="modal" ng-click="onSendMsgForSelectedHouseOwner()" class="btn btn-primary">向选中业主发送通知</button-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="table-panel-tab" class="tab-pane fade">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <div class="tb-group-actions pull-left">
                                <select id="keyWord-sel" data-style="btn-grey" ng-model='merchantSearchFilter.keyword'>
                                    <option value="phone">电话号码</option>
                                    <option value="id_card_no">身份证</option>
                                    <option value="full_name">姓名</option>
                                </select>
                                <input id="exactSearch-input" type="text" placeholder="输入对应关键字查找..." ng-model='merchantSearchFilter.keywordValue'/>
                                <button id="exactSearch-btn" type="button" ng-click="onWorkerExactSearch()">查找</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div style="position: relative;top: 6px">
                                <span data-value="0"><a href="javascript:;" ng-click="onClickMoreM()">{{moreLinkStrM}}<i ng-class="{true: 'fa fa-sort-desc', false: 'fa fa-sort-asc'}[moreLinkM]"class="fa fa-sort-desc"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div id="more_find_div" class="row mbm" ng-show="!moreLinkM">
                        <br>
                        <div class="col-lg-12">
                            <div>
                                <label>区域 :</label><input type="checkbox" ng-model = "regionChkAll" class="icheckbox_minimal-grey" ng-click="checkAll(merchantSearchFilter.regionSelArray)" />全选
                            </div>
                            <div id="regions-div">
                                <div ng-repeat="region in merchantSearchFilter.regionSelArray"  style="display:inline;">

                                    <input id='{{region.id}}' type="checkbox" ng-model = "region.selected"/>
                                    <label for='{{region.id}}'>{{region.name}}</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            工种 :
                            <select ng-options="role.name for role in originalMerchantRoles" ng-model="merchantSearchFilter.originalRoleSel" ng-change="originalRoleSelectM()"></select>
                            <div ng-show="merchantSearchFilter.craftsArray.length != 0">
                                <div>
                                    细项：<input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(merchantSearchFilter.craftsArray)" />全选
                                </div>
                                <div ng-repeat="craft in merchantSearchFilter.craftsArray"  style="display:inline;">
                                    <input id='{{craft.id}}' type="checkbox" ng-model = "craft.selected"/>
                                    <label for='{{craft.id}}'>{{craft.name}}</label>
                                </div>
                            </div>
                        </div>
                        <!--div class="col-lg-6">
                            <div id="verifedStates-div">
                                认证状态 : <input id="workerVerified-0" value="0" type="checkbox" /><label >未认证</label>
                                <input id="workerVerified-1" value="1" type="checkbox" /><label >待认证</label>
                                <input id="workerVerified-1" value="2" type="checkbox" /><label >已认证</label>
                                <input id="workerVerified-1" value="3" type="checkbox" /><label >驳回认证</label>


                            </div>
                        </div-->
                        <div class="col-lg-offset-5 col-lg-12">
                            <button id="screen-btn" ng-click="onSearchM()"><i class="fa fa-search"></i>&nbsp;筛选
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet-body pan">
                                <table class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                    <thead>
                                        <tr>
                                            <th width="3%" class="sorting_disabled">
                                                <input type="checkbox" class="icheckbox_minimal-grey" ng-click="checkAll(merchantsInfoArray)" />
                                            </th>
                                            <th width="5%">真实姓名</th>
                                            <th width="5%">身份证号</th>
                                            <th width="5%">商家电话</th>
                                            <th width="6%">注册时间</th>
                                            <th width="7%">
                                                <select data-style="btn-grey" ng-model="merchantSearchFilter.verified" class="selectpicker form-control" ng-change="onSearchM()">
                                                    <!--option value="-1">选择认证状态</option-->
                                                    <option value="all">所有认证状态</option>
                                                    <option value="0">未认证</option>
                                                    <option value="1">待认证</option>
                                                    <option value="2">已认证</option>
                                                    <option value="3">认证驳回</option>
                                                </select>
                                            </th>
                                            <th width="5%">城市</th>
                                            <th width="5%">区域</th>
                                            <th width="5%">商家类别</th>
                                            <th width="3%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="merchant in merchantsInfoArray">
                                            <td><input type="checkbox" ng-model="merchant.selected" class="checkbox" /></td>
                                            <td ng-bind="merchant.shop_name"></td>
                                            <td ng-bind="merchant.id_card_no"></td>
                                            <td ng-bind="merchant.phone"></td>
                                            <td ng-bind="timeToStr(merchant.create_time *1000)"></td>
                                            <td><span class="label label-sm" ng-class="{0:'label-warning',1:'label-dark',2:'label-success',3:'label-primary'}[merchant.verified]" ng-bind="getVerifiedStatus(merchant.verified)">未认证</span></td>
                                            <td ng-bind="getCityAndRegionStr(merchant.regions).city">城市</td>
                                            <td ng-bind="getCityAndRegionStr(merchant.regions).regions">区域</td>
                                            <td ng-bind="getMerchantCategoryStr(merchant.categories).first">第一工种</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="onShowMerchantDetailInfo(merchant)"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                </button>&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <div id="uzBusinessPage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END CONTENT-->

<div aria-hidden="false" style="display:none;" id="edit_worker_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">工人详情</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable tabs-left">
                    <ul id="edit_workerDetail_tab" class="nav nav-tabs">
                        <li><a data-target="#edit_worker_basicInfo" data-toggle="tab" href="#" style="cursor:hand">基础资料</a>
                        </li>
                        <li><a data-target="#edit_worker_roleInfo" data-toggle="tab" href="#">工种信息</a>
                        </li>
                        <li><a data-target="#edit_worker_accountInfo" data-toggle="tab" href="#" ng-click="onCapitalAccount()">账户信息</a>
                        </li>
                        <li ><a data-target="#show_worker_decorationCases" href="#" data-toggle="tab">个人案例</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="edit_worker_basicInfo" class="tab-pane fade in active">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-user"></i>
                                                <input id="inputWorkerFullName-readOnly" type="text" placeholder="Name" class="form-control" disabled ng-model="selectWorker.fullName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-mobile-phone"></i>
                                                <input id="inputWorkerPhone" type="text" placeholder="Phone" class="form-control" disabled ng-model="selectWorker.phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                                <input id="inputCardNumber-readOnly" type="text" placeholder="Card number" class="form-control" disabled ng-model="selectWorker.id_card_no">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-map-marker"></i>
                                                <input id="inputWorkerCity" type="text" placeholder="" class="form-control" disabled ng-model="selectWorker.work_city">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="#"><span id="workerScore" class="badge badge-warning pull-right" ng-bind="selectWorker.score"></span>积分:</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>评价:</label>
                                            好评<span id="review-good-span" ng-bind="selectWorker.review.good" class="badge badge-success">0</span> 中评
                                            <span id="review-notBad-span" ng-bind="selectWorker.review.not_bad" class="badge badge-default">0</span> 差评
                                            <span id="review-bad-span" ng-bind="selectWorker.review.bad" class="badge badge-primary">0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <a href="#" data-target="#show_img_preview" data-toggle="modal">
                                                    <img id="showVerifiedPic-img" border=0 src="{{selectWorker.imgHref}}" width="100" height="100" />
                                                </a>
                                            </div>
                                            <span id="verifiedInfo-span" class="label label-sm" ng-class="{0:'label-warning',1:'label-dark',2:'label-success',3:'label-primary'}[selectWorker.verified]" ng-bind="getVerifiedStatus(selectWorker.verified)"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:void(0)" ng-click="onShowInvitees('worker',selectWorker.invite_Info)">
                                        <span class="badge badge-dark pull-right" ng-bind="selectWorker.invite_Info.invitation_code"></span></a><label>邀请码：</label>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <span class="label label-violet">个人介绍：</span><span ng-bind="selectWorker.statement"></span>

                                    </div>
                                </div>
                                <div class="pull-right" ng-if="selectWorker.verified !== 2">
                                    <button id="scene-verified_btn" data-toggle="modal" ng-click="onShowSceneVerified()" class="btn btn-info">现场认证</button>
                                    <!--button id="update_workerProfile_btn" class="btn btn-success">更新资料</button-->
                                </div>
                            </div>
                        </div>
                        <div id="edit_worker_roleInfo" class="tab-pane fade">
                            <form action="#">
                                <div class="form-body pal">
                                    <div id="showRoles" class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="getCategoryStr(selectWorker.categories).firt"  disabled />
                                        </div>
                                    </div>
                                    <div id="showAllRoles" class="row">

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="edit_worker_accountInfo" class="tab-pane fade">
                            <form action="#">
                                <div class="list-group">
                                    <a href="javascript:void(0)" ng-click="getCapitalDetails(selectWorker,'capital','worker')" class="list-group-item active">账户余额
                                        <span id="balance-span" class="badge badge-info pull-right" ng-bind="selectWorker.balance"></span>
                                    </a>
                                    <a class="list-group-item">系统赠送保证金
                                        <span id="systemMarginBalance-span" class="badge badge-warning pull-right" ng-bind="selectWorker.mBalanceSystem"></span>
                                    </a>
                                    <a href="javascript:void(0)" ng-click="getCapitalDetails(selectWorker,'margin','worker')" class="list-group-item">个人保证金
                                        <span id="ownMarginBalance-span" class="badge badge-warning pull-right" ng-bind="selectWorker.mBalanceOwns"></span>
                                    </a>
                                    <a  class="list-group-item">累积收入
                                        <span class="badge badge-danger pull-right" ng-bind="selectWorker.mTotalIncome"></span>
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <button type="button"  data-target="#charge_dlg" data-toggle="modal" class="btn btn-info" ng-click="onShowChargeDlg(selectWorker.workerId)">充值</button>
                                    <!--button id="update_workerProfile_btn" class="btn btn-success">更新资料</button-->
                                </div>
                            </form>
                        </div>
                        <div id="show_worker_decorationCases" class="tab-pane fade">
                            <div  style="height:300px; overflow:auto;">
                                <div id="grid-layout-table1" class="box jplist">
                                    <div class="box text-shadow">
                                        <table  class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="8%">名称</th>
                                                <th width="15%">缩略图</th>
                                                <!--th width="3%">更新时间</th-->
                                                <th width="2%"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="case in selectWorker.casesArray">
                                                <td ng-bind="case.name">失败</td>
                                                <td >
                                                    <img  ng-repeat="quotation in case.thumbnails.slice(0,3)"  border=1 src="{{qiniuUrl + quotation}}" width="56" height="56" />
                                                </td>
                                                <!--td ng-bind="timeToStr(case.create_time*1000)">2015/12/12</td-->
                                                <td >
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="onShowDecorationCases('worker',case.id)"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                    </button>&nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<div id="verified-dialog" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">现场认证</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input ng-model="selectWorker.first_name" type="text" value="姓" placeholder="姓" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input ng-model="selectWorker.last_name" type="text" value="名" placeholder="名" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                <input ng-model="selectWorker.id_card_no" type="text" placeholder="身份证号码" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <div id="preview">
                                        <img id="imghead" border=1 src="{{selectWorker.selectImg}}" width="256" height="256" />
                                    </div>
                                </div>
                                <input id="input-upload" type="file" ng-file-select="onFileSelect($files)"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="height:150px; overflow:auto;">
                    <div class="panel panel-yellow">
                        <!--div class="panel-heading">认证记录</div-->
                        <div class="panel-body">
                            <table id="verifiedRecord-table" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>申请日期</th>
                                        <th>认证结果</th>
                                        <th>驳回理由</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="verifiedLog in selectWorker.verifiedLogsArray">
                                        <td ng-bind="timeToStr(verifiedLog.apply_time*1000)">2015/12/12</td>
                                        <td ng-bind="verifyStatus(verifiedLog.verification_state)">失败</td>
                                        <td  ng-bind="verifiedLog.description">无法看清号码</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button ng-click="verifiedWorker()" data-dismiss="modal" class="btn btn-pink">通过认证</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="false" style="display:none;" id="edit_houseOwner_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">业主信息</h4>
            </div>
            <div class="modal-body">
                    <div class="tab-content">
                        <div id="edit_worker_basicInfo" class="tab-pane fade in active">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-user"></i>
                                                <input id="inputWorkerFullName-readOnly" type="text" placeholder="Name" class="form-control" disabled ng-model="selectHouseOwner.fullName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-mobile-phone"></i>
                                                <input id="inputWorkerPhone" type="text" placeholder="Phone" class="form-control" disabled ng-model="selectHouseOwner.phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                                <input id="inputCardNumber-readOnly" type="text" placeholder="Nick name" class="form-control" disabled ng-model="selectHouseOwner.nick_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa  fa-envelope-o"></i>
                                                <input id="inputWorkerCity" type="text" placeholder="email" class="form-control" disabled ng-model="selectHouseOwner.email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="javascript:void(0)" ng-click="onShowInvitees('houseOwner',selectHouseOwner.invite_Info)">
                                            <span class="badge badge-dark pull-right" ng-bind="selectHouseOwner.invite_Info.invitation_code"></span></a><label>邀请码：</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div><img id="showVerifiedPic-img" border=0 src="{{selectHouseOwner.imgHref}}" width="120" height="120" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <form action="#">
                                            <div class="list-group">
                                                <a href="javascript:;" ng-click="getCapitalDetails(selectHouseOwner,'capital','houseOwner')" class="list-group-item">账户余额
                                                    <span id="balance-span" class="badge badge-info pull-right" ng-bind="selectHouseOwner.balance"></span>
                                                </a>
                                                <a href="javascript:;" ng-click="getCapitalDetails(selectHouseOwner,'ubean','houseOwner')" class="list-group-item">现金券
                                                    <span id="balance-span" class="badge badge-info pull-right" ng-bind="selectHouseOwner.ubeans"></span>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button id="scene-verified_btn" data-toggle="modal" data-target="#house_charge_dlg" ng-click="onShowChargeDlg(selectHouseOwner.houseOwnerId)" class="btn btn-info">账户充值</button>
                                    <!--button id="update_workerProfile_btn" class="btn btn-success">更新资料</button-->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="charge_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">账户充值</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-3"></div>
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">余额充值</span>
                                <input type="number" ng-model="chargeAmount" class="form-control">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-3"></div>
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">保证金充值</span>
                                <input type="number" ng-model="chargeBalance" class="form-control">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onChargeConfirm()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div aria-hidden="true" id="house_charge_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">账户充值</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-body pal">
                            <div class="input-group input-daterange col-md-3"></div>
                            <div class="input-group input-daterange col-md-6 col-md-offset-3">
                                <span class="input-group-addon">余额充值</span>
                                <input type="number" ng-model="chargeAmount" class="form-control">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onChargeConfirm()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="send_msg_dlg" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <!-- start -->
                <div class="col-lg-12" style="height:10%">
                    <div class="portlet box portlet-blue">
                        <div class="portlet-header">
                            <div class="caption">发送通知</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label">通知类型:
                        </label>
                        <select id="keyWord-sel" data-style="btn-grey" ng-model='sendMsg.type'>
                            <option value="sms">短信通知</option>
                            <option value="notify">系统消息通知</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="form-group">
                        <label for="inputMessage" class="control-label">通知内容:</label>
                        <textarea rows="5" class="form-control" ng-model='sendMsg.content'></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modify_conference_footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="onSendMsg()">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" id="show_img_preview" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
            <img width='600' height='100%' src="{{selectWorker.imgHref}}" img-preview=""/>
    </div>
</div>


<div  id="show_invitees_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-wide-width-label" class="modal-title">受邀人名单,总人数为{{inviteesArray.length}}人。</h4>
            </div>
            <div class="panel-body" style="height:300px; overflow:auto;">
                <div id="grid-layout-table1" class="box jplist">
                    <div class="box text-shadow">
                        <table id="verifiedRecord-table" class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>注册时间</th>
                                <th>电话</th>
                                <th>类型</th>
                                <th>姓名</th>
                                <th>验证时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="inviter in inviteesArray">
                                <td ng-bind="timeToStr(inviter.create_time*1000)"></td>
                                <td ng-bind="inviter.phone"></td>
                                <td  ng-bind="inviter.type"></td>
                                <td  ng-bind="inviter.full_name"></td>
                                <td  ng-bind="timeToStr(inviter.verify_time*1000)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="col-md-12">
                        <button ng-if="secPopDlgType=='worker'" ng-click="onBackToLastDlg('worker')" type="button" class="btn btn-default">返回</button>
                        <button ng-if="secPopDlgType=='houseOwner'" ng-click="onBackToLastDlg('houseOwner')" type="button" class="btn btn-default">返回</button>
                        <button ng-if="secPopDlgType=='merchant'" ng-click="onBackToLastDlg('merchant')" type="button" class="btn btn-default">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div  id="show_tradDetail_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-wide-width-label" class="modal-title">{{tradDetailType}}明细查询</h4>
            </div>
            <div class="panel-body" style="height:300px; overflow:auto;">
                <div id="grid-layout-table1" class="box jplist">
                    <div class="box text-shadow">
                        <table id="verifiedRecord-table" class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>交易时间</th>
                                <th>交易金额</th>
                                <th>交易类型</th>
                                <th>余额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="trad in tradDetailArray">
                                <td ng-bind="timeToStr(trad.time*1000)"></td>
                                <td ng-if='tradDetailType != "现金券"' ng-bind="trad.amount / 100"></td>
                                <td ng-if='tradDetailType == "现金券"' ng-bind="trad.amount"></td>
                                <td ng-bind="translateBillType(trad.type)"></td>
                                <td ng-if='tradDetailType != "现金券"' ng-bind="trad.balance / 100"></td>
                                <td ng-if='tradDetailType == "现金券"' ng-bind="trad.balance "></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="col-md-12">
                        <button ng-if="secPopDlgType=='worker'" ng-click="onBackToLastDlg('worker')" type="button" class="btn btn-default">返回</button>
                        <button ng-if="secPopDlgType=='houseOwner'" ng-click="onBackToLastDlg('houseOwner')" type="button" class="btn btn-default">返回</button>
                        <button ng-if="secPopDlgType=='merchant'" ng-click="onBackToLastDlg('merchant')" type="button" class="btn btn-default">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div  id="show_decorationCases_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-wide-width-label" class="modal-title">案例详情</h4>
            </div>
            <div class="panel-body" style="height:300px; overflow:auto;">
                <div id="grid-layout-table1" class="box jplist">
                    <div class="box text-shadow">
                        <div ng-repeat="caseInfo in selectWorker.casesDetailArray">
                            <div>
                                <label>{{caseInfo.description}}</label>
                            </div>
                            <div>
                                <img  ng-repeat="quotation in caseInfo.photo"
                                      border=1 src="{{qiniuUrl + quotation}}" width="128" height="128" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="col-md-12">
                        <button ng-click="onBackToLastDlg('worker')" type="button" class="btn btn-default">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div  id="show_merchantDecorationCases_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-wide-width-label" class="modal-title">案例详情</h4>
            </div>
            <div class="panel-body" style="height:300px; overflow:auto;">
                <div id="grid-layout-table1" class="box jplist">
                    <div class="box text-shadow">
                        <div ng-repeat="caseInfo in selectMerchant.casesDetailArray">
                            <div>
                                <label>{{caseInfo.description}}</label>
                            </div>
                            <div>
                                <img  ng-repeat="quotation in caseInfo.photo"
                                      border=1 src="{{qiniuUrl + quotation}}" width="128" height="128" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="col-md-12">
                        <button ng-click="onBackToLastDlg('merchant')" type="button" class="btn btn-default">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div aria-hidden="false" style="display:none;" id="edit_merchant_dlg" tabindex="-1" data-backdrop="static" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">商家详情</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable tabs-left">
                    <ul id="edit_workerDetail_tab" class="nav nav-tabs">
                        <li><a data-target="#edit_merchant_basicInfo" data-toggle="tab" href="#" style="cursor:hand">基础资料</a>
                        </li>
                        <li><a data-target="#edit_merchant_roleInfo" data-toggle="tab" href="#">商家类别</a>
                        </li>
                        <li><a data-target="#edit_merchant_accountInfo" data-toggle="tab" href="#" >账户信息</a>
                        </li>
                        <li ><a data-target="#show_merchant_decorationCases" href="#" data-toggle="tab">商家案例</a>
                        </li>
                        <li ><a data-target="#show_merchant_products" href="#" data-toggle="tab">商家产品</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="edit_merchant_basicInfo" class="tab-pane fade in active">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-user"></i>
                                                <input id="inputWorkerFullName-readOnly" type="text" placeholder="Name" class="form-control" disabled ng-model="selectMerchant.fullName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-mobile-phone"></i>
                                                <input id="inputWorkerPhone" type="text" placeholder="Phone" class="form-control" disabled ng-model="selectMerchant.phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                                <input id="inputCardNumber-readOnly" type="text" placeholder="Card number" class="form-control" disabled ng-model="selectMerchant.id_card_no">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-map-marker"></i>
                                                <input id="inputWorkerCity" type="text" placeholder="" class="form-control" disabled ng-model="selectMerchant.work_city">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="#"><span id="workerScore" class="badge badge-warning pull-right" ng-bind="selectMerchant.score"></span>积分:</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>评价:</label>
                                            好评<span ng-bind="selectMerchant.review.good" class="badge badge-success">0</span> 中评
                                            <span ng-bind="selectMerchant.review.not_bad" class="badge badge-default">0</span> 差评
                                            <span ng-bind="selectMerchant.review.bad" class="badge badge-primary">0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <a href="#" data-target="#show_img_preview2" data-toggle="modal">
                                                    <img id="showVerifiedPic-img" border=0 src="{{selectMerchant.imgHref}}" width="100" height="100" />
                                                </a>
                                            </div>
                                            <span id="verifiedInfo-span" class="label label-sm" ng-class="{0:'label-warning',1:'label-dark',2:'label-success',3:'label-primary'}[selectMerchant.verified]" ng-bind="getVerifiedStatus(selectMerchant.verified)"></span>
                                        </div>
                                    </div>
                                    <!--div class="col-md-6">
                                        <a href="javascript:void(0)" ng-click="onShowInvitees('worker',selectMerchant.invite_Info)">
                                            <span class="badge badge-dark pull-right" ng-bind="selectMerchant.invite_Info.invitation_code"></span></a><label>邀请码：</label>
                                    </div-->
                                </div>
                                <div class="pull-right" ng-if="selectMerchant.verified !== 2">
                                    <button id="scene-verified_btn" data-toggle="modal" ng-click="onShowSceneVerifiedM()" class="btn btn-info">现场认证</button>
                                </div>
                            </div>
                        </div>
                        <div id="edit_merchant_roleInfo" class="tab-pane fade">
                            <form action="#">
                                <div class="form-body pal">
                                    <div id="showRoles" class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="getMerchantCategoryStr(selectMerchant.categories).first"  disabled />
                                        </div>
                                    </div>
                                    <div id="showAllRoles" class="row">

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="edit_merchant_accountInfo" class="tab-pane fade">
                            <form action="#">
                                <div class="list-group">
                                    <a href="javascript:void(0)" ng-click="getCapitalDetails(selectMerchant,'capital','merchant')" class="list-group-item active">账户余额
                                        <span id="balance-span" class="badge badge-info pull-right" ng-bind="selectMerchant.balance"></span>
                                    </a>
                                    <a class="list-group-item">系统赠送保证金
                                        <span id="systemMarginBalance-span" class="badge badge-warning pull-right" ng-bind="selectMerchant.mBalanceSystem"></span>
                                    </a>
                                    <a href="javascript:void(0)"  ng-click="getCapitalDetails(selectMerchant,'margin','merchant')" class="list-group-item">个人保证金
                                        <span id="ownMarginBalance-span" class="badge badge-warning pull-right" ng-bind="selectMerchant.mBalanceOwns"></span>
                                    </a>
                                    <a  class="list-group-item">累积收入
                                        <span class="badge badge-danger pull-right" ng-bind="selectMerchant.mTotalIncome"></span>
                                    </a>
                                </div>
                                <!--div class="pull-right">
                                    <button type="button"  data-target="#charge_dlg" data-toggle="modal" class="btn btn-info" ng-click="onShowChargeDlg(selectWorker.workerId)">充值</button>
                                </div-->
                            </form>
                        </div>
                        <div id="show_merchant_decorationCases" class="tab-pane fade">
                            <div  style="height:300px; overflow:auto;">
                                <div id="grid-layout-table1" class="box jplist">
                                    <div class="box text-shadow">
                                        <table  class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="8%">名称</th>
                                                <th width="15%">缩略图</th>
                                                <!--th width="3%">更新时间</th-->
                                                <th width="2%"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="case in selectMerchant.casesArray">
                                                <td ng-bind="case.name">失败</td>
                                                <td >
                                                    <img  ng-repeat="quotation in case.thumbnails.slice(0,3)"  border=1 src="{{qiniuUrl + quotation}}" width="56" height="56" />
                                                </td>
                                                <!--td ng-bind="timeToStr(case.create_time*1000)">2015/12/12</td-->
                                                <td >
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="onShowDecorationCases('merchant',case.id)"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                    </button>&nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="show_merchant_products" class="tab-pane fade">
                            <div  style="height:300px; overflow:auto;">
                                <div id="grid-layout-table1" class="box jplist">
                                    <div class="box text-shadow">
                                        <table  class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="8%">名称</th>
                                                <th width="15%">缩略图</th>
                                                <th width="8%">描述</th>
                                                <th width="5%">价格</th>
                                                <!--th width="3%">更新时间</th-->
                                                <!--th width="2%"></th-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="case in selectMerchant.merchandiseArray">
                                                <td ng-bind="case.name">失败</td>
                                                <td >
                                                    <img  ng-repeat="quotation in case.photos.slice(0,3)"  border=1 src="{{qiniuUrl + quotation}}" width="56" height="56" />
                                                </td>
                                                <!--td ng-bind="timeToStr(case.create_time*1000)">2015/12/12</td-->
                                                <!--td >
                                                    <button type="button" class="btn btn-default btn-xs" ><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                    </button>&nbsp;
                                                </td-->
                                                <td ng-bind="case.description"></td>
                                                <td ng-bind="case.price / 100"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" id="show_img_preview2" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <img width='600' height='100%' src="{{selectMerchant.imgHref}}" img-preview=""/>
    </div>
</div>

<div id="verified-dialogM" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">现场认证</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input ng-model="selectMerchant.shop_name" type="text" value="商家名" placeholder="商家名" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <div id="preview">
                                        <img id="imghead" border=1 src="{{selectMerchant.selectImg1}}" width="256" height="256" />
                                        <img id="imghead" border=1 src="{{selectMerchant.selectImg2}}" width="256" height="256" />
                                    </div>
                                </div>
                                <input id="input-upload" type="file" ng-file-select="onFileMultiSelect($files)" multiple accept="image/*"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="height:150px; overflow:auto;">
                    <div class="panel panel-yellow">
                        <!--div class="panel-heading">认证记录</div-->
                        <div class="panel-body">
                            <table id="verifiedRecord-table" class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>申请日期</th>
                                    <th>认证结果</th>
                                    <th>驳回理由</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="verifiedLog in selectMerchant.verifiedLogsArray">
                                    <td ng-bind="timeToStr(verifiedLog.apply_time*1000)">2015/12/12</td>
                                    <td ng-bind="verifyStatus(verifiedLog.verification_state)">失败</td>
                                    <td  ng-bind="verifiedLog.description">无法看清号码</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button ng-click="verifiedMerchant()" data-dismiss="modal" class="btn btn-pink">通过认证</button>
                </div>
            </div>
        </div>
    </div>
</div>