<!DOCTYPE html>
<html lang="en">

<head>
    <title>悠住后台管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE-->

    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-notific8/jquery.notific8.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" class="default-style">
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/laypage.css">
</head>

<body class=" ">
<div>
<!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
<!--END BACK TO TOP-->
<!--BEGIN TOPBAR-->
<div id="header-topbar-option-demo" class="page-header-topbar">
<nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button><a id="logo" href="/" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">UZUOO</span><span style="display: none" class="logo-text-icon">µ</span></a>
</div>
<div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
<ul class="nav navbar-nav">
    <li class="active"><a href="/">Dashboard</a>
    </li>
    <li><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">Layouts
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li><a href="layout-left-sidebar.html">Left Sidebar</a>
            </li>
            <li><a href="layout-right-sidebar.html">Right Sidebar</a>
            </li>
            <li><a href="layout-left-sidebar-collapsed.html">Left Sidebar Collasped</a>
            </li>
            <li><a href="layout-right-sidebar-collapsed.html">Right Sidebar Collasped</a>
            </li>
            <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Second level link</a>
                    </li>
                    <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                            <li><a href="#">Third level link</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Second level link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="mega-menu-dropdown"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">UI Elements
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content">
                    <div class="row">
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                        <ul class="col-md-4 mega-menu-submenu">
                            <li>
                                <h3>Neque porro quisquam</h3>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                            </li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="mega-menu-dropdown mega-menu-full"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">Extras
            &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li>
                                    <h3>Neque porro quisquam</h3>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 document-demo">
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-info-circle"></i><span>Introduction</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-download"></i><span>Installation</span></a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-cog"></i><span>T3 Settings</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-desktop"></i><span>Layout System</span></a>
                                </li>
                            </ul>
                            <ul class="col-md-4 mega-menu-submenu">
                                <li><a href="#"><i class="fa fa-magic"></i><span>Customization</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-question-circle"></i><span>FAQs</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
<form id="topbar-search" action="#" method="GET" class="hidden-xs">
    <div class="input-group">
        <input type="text" placeholder="Search..." class="form-control" /><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span>
    </div>
</form>
<ul class="nav navbar navbar-top-links navbar-right mbn">
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="/images/avatar/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;<span class="hidden-xs">Fung Wan</span>&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a>
            </li>
        </ul>
    </li>
</ul>
</div>
</nav>


</div>
<!--END TOPBAR-->
<div id="wrapper">
<!--BEGIN SIDEBAR MENU-->
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="/images/avatar/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p>Fung Wan</p>
                    <ul class="list-inline list-unstyled">
                        <!--li><a href="extra-profile.html" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="email-inbox.html" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a>
                        </li-->
                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modal-config"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li >
                <a href="/"><i class="fa fa-home fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">悠住</span></a>
            </li>

            <li class="active"><a href="#"><i class="fa fa-user fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="/customer"><i class="fa fa-tablet"></i><span class="submenu-title">悠住用户</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="/users"><i class="fa fa-desktop"></i><span class="submenu-title">后台用户</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-th-list fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/orders"><i class="fa fa-truck"></i><span class="submenu-title">订单查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-cny"></i><span class="submenu-title">订单台账</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-rss-square fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">活动信息管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-table"></i><span class="submenu-title">活动查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i><span class="submenu-title">信息发布</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-trello fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">运营管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">APP活跃度统计</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-money"></i><span class="submenu-title">优惠券使用统计</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-th-large"></i><span class="submenu-title">价格管理</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="/history"><i class="fa fa-file-o fa-fw"><div class="icon-bg bg-green"></div></i><span class="menu-title">系统日志</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--END SIDEBAR MENU-->

<!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">悠住用户</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li><a href="#">Tables</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Action Tables</li>
                    </ol>
                    <div class="btn btn-blue reportrange hide"><i class="fa fa-calendar"></i>&nbsp;<span></span>&nbsp;report&nbsp;<i class="fa fa-angle-down"></i>
                        <input type="hidden" name="datestart" />
                        <input type="hidden" name="endstart" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="table-action" class="row">
                        <div class="col-lg-12">
                            <ul id="tableactiondTab" class="nav nav-tabs">
                                <li id="houseOwner"  class="active"><a href="#table-table-tab" data-toggle="tab">业主信息</a>
                                </li>
                                <li id="worker"><a href="#table-row-tab" data-toggle="tab">工人信息</a>
                                </li>
                                <li id="business"><a href="#table-panel-tab" data-toggle="tab">商家信息</a>
                                </li>
                            </ul>
                            <div id="tableactionTabContent" class="tab-content">
                                <div id="table-table-tab" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-container">
                                                <table class="table table-hover table-striped table-bordered table-advanced tablesorter display dataTable no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">用户名</th>
                                                            <th width="10%">城市</th>
                                                            <th width="10%">联系方式</th>
                                                            <th width="7%">邮箱地址</th>
                                                            <th width="12%">最近登录时间</th>
                                                            <th width="6%"></th>
                                                        </tr>
                                                        <tbody>
                                                            <tr>
                                                                <td>冯云</td>
                                                                <td>射洪</td>
                                                                <td>13882568547</td>
                                                                <td>andy@qq.com</td>
                                                                <td>20-05-2014</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>刘春萍</td>
                                                                <td>射洪</td>
                                                                <td>15869877412</td>
                                                                <td>candy@163.com</td>
                                                                <td>20-05-2014</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </thead>
                                                </table>
                                                <div id="uzUserPage"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="table-row-tab" class="tab-pane fade">
                                    <div class="row mbl">
                                        <div class="col-lg-3">
                                            <div class="input-group input-group-sm mbs">
                                                <input type="text" placeholder="Enter here..." class="form-control"><span class="input-group-btn"><button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Search</button></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="tb-group-actions pull-right">
                                                <button class="btn btn-sm btn-warning"><i class="fa fa-check"></i>&nbsp; 审核
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table  id="edit_worker_table" class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                                <thead>
                                                    <tr>
                                                        <th width="3%" class="sorting_disabled">
                                                            <input type="checkbox" class="checkall" />
                                                        </th>
                                                        <th width="5%">用户名</th>
                                                        <th width="5%">真实姓名</th>
                                                        <th width="5%">头像</th>
                                                        <th width="5%">城市</th>
                                                        <th width="10%">联系方式</th>
                                                        <th width="7%">工种</th>
                                                        <th width="8%">
                                                            <select data-style="btn-grey" class="selectpicker form-control">
                                                                <option>审核状态</option>
                                                                <option>未审核</option>
                                                                <option>审核失败</option>
                                                                <option>已通过</option>
                                                            </select>
                                                        </th>
                                                        <th width="3%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="workerAvater_tbody" style="">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="checkbox" />
                                                        </td>
                                                        <td>叫我升哥</td>
                                                        <td>茅以升</td>
                                                        <td>
                                                            <img src="images/avatar/128.jpg" width="35px" height="35px">
                                                        </td>
                                                        <td>杭州</td>
                                                        <td>13981967875</td>
                                                        <td>工长</td>
                                                        <td><span class="label label-sm label-success">已通过</span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:;" class="edit"><i class="fa fa-edit"></i>&nbsp; 编辑</a>&nbsp;
                                                            <a href="javascript:;" class="more"><i class="fa fa-ellipsis-h"></i>&nbsp; 更多</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="checkbox" />
                                                        </td>
                                                        <td>天下第一刀</td>
                                                        <td>鲁班</td>
                                                        <td><img src="images/avatar/128.jpg" width="35px" height="35px"></td>
                                                        <td>天津</td>
                                                        <td>18856985412</td>
                                                        <td>木工</td>
                                                        <td><span class="label label-sm label-info">未审核</span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:;" class="edit"><i class="fa fa-edit"></i>&nbsp; 编辑</a>&nbsp;
                                                            <a href="javascript:;" class="more"><i class="fa fa-ellipsis-h"></i>&nbsp; 更多</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="checkbox" />
                                                        </td>
                                                        <td>小可爱</td>
                                                        <td>羽田爱</td>
                                                        <td><img src="images/avatar/128.jpg" width="35px" height="35px"></td>
                                                        <td>大阪</td>
                                                        <td>18856985412</td>
                                                        <td>保洁</td>
                                                        <td><span class="label label-sm label-primary">审核失败</span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:;" class="edit"><i class="fa fa-edit"></i>&nbsp; 编辑</a>&nbsp;
                                                            <a href="javascript:;" class="more"><i class="fa fa-ellipsis-h"></i>&nbsp; 更多</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div id="uzLeaderPage"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="table-panel-tab" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12">
                                                <div class="portlet-body pan">
                                                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                                        <thead>
                                                            <tr>
                                                                <!--th width="3%">
                                                                    <input type="checkbox" class="checkall" />
                                                                </th-->
                                                                <th width="9%">Record #</th>
                                                                <th>Username</th>
                                                                <th width="10%">Country</th>
                                                                <th width="10%">Gender</th>
                                                                <th width="7%">Order</th>
                                                                <th width="12%">Date</th>
                                                                <th width="10%">Price</th>
                                                                <th width="9%">Status</th>
                                                                <th width="12%">Actions</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <!--td>
                                                                    <input type="checkbox" />
                                                                </td-->
                                                                <td>1</td>
                                                                <td>Henry</td>
                                                                <td>United States</td>
                                                                <td>Male</td>
                                                                <td>32</td>
                                                                <td>20-05-2014</td>
                                                                <td>$240.50</td>
                                                                <td><span class="label label-sm label-success">Approved</span>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp; Edit
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <!--td>
                                                                    <input type="checkbox" />
                                                                </td-->
                                                                <td>2</td>
                                                                <td>John</td>
                                                                <td>United States</td>
                                                                <td>Female</td>
                                                                <td>45</td>
                                                                <td>20-05-2014</td>
                                                                <td>$240.50</td>
                                                                <td><span class="label label-sm label-info">Pending</span>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp; Edit
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <div id="uzBusinessPage"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
            </div>
<%- include footer %>
<script src="vendors/DataTables/media/js/jquery.dataTables.js"></script>
<script src="vendors/DataTables/jquery.jeditable.js"></script>
<script src="custom/fe_userList.js"></script>