<!DOCTYPE html>
<html lang="en">

<head>
    <title>悠住后台管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE-->

    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">

    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-notific8/jquery.notific8.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" class="default-style">
    <link type="text/css" rel="stylesheet" href="css/themes/style1/orange-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/laypage.css">
</head>
<style type="text/css">
    #preview{width:256px;height:256px;border:1px solid #000;overflow:hidden;}
    #imghead {
        max-width:256px;_width:expression(this.width > 256 ? "256px" : this.width);
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
</style>  
<body class=" ">
<div>
<%

    var uuid = userInfo.id;
    var username = userInfo.username;
    var user_role = userInfo.role;
    var city = userInfo.city;

%>
<div id="header-topbar-option-demo" class="page-header-topbar">
<nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button><a id="logo" href="/" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">UZUOO</span><span style="display: none" class="logo-text-icon">µ</span></a>
</div>
<div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>


<ul class="nav navbar navbar-top-links navbar-right mbn">
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="/images/avatar/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;<span class="hidden-xs"><%= username %></span>&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a>
            </li>
        </ul>
    </li>
</ul>
</div>
</nav>


</div>
<!--END TOPBAR-->
<div id="wrapper">
<!--BEGIN SIDEBAR MENU-->
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="/images/avatar/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p><%= username %></p>
                    <ul class="list-inline list-unstyled">
                        <input id="useruuid" type="hidden" value=<%= uuid%>>
                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modify_account_pw_dlg"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li >
                <a href="/"><i class="fa fa-home fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">悠住</span></a>
            </li>

            <li class="active"><a href="#"><i class="fa fa-user fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="/customer"><i class="fa fa-tablet"></i><span class="submenu-title">悠住用户</span></a>
                    </li>
                    <li><a href="/todoVerifiedCustomer"><i class="fa fa-tablet"></i><span class="submenu-title">待认证用户</span></a>
                    </li>
                    <li><a href="/users"><i class="fa fa-desktop"></i><span class="submenu-title">后台用户</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-th-list fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/orders"><i class="fa fa-truck"></i><span class="submenu-title">订单查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="/bills"><i class="fa fa-cny"></i><span class="submenu-title">订单台账</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-rss-square fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">活动信息管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-table"></i><span class="submenu-title">活动查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i><span class="submenu-title">信息发布</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-trello fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">运营管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">APP活跃度统计</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-money"></i><span class="submenu-title">优惠券使用统计</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-th-large"></i><span class="submenu-title">价格管理</span></a>
                    </li>
                </ul>
            </li>

            <li><a href="/history"><i class="fa fa-file-o fa-fw"><div class="icon-bg bg-green"></div></i><span class="menu-title">系统日志</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--END SIDEBAR MENU-->

<!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">悠住用户</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="table-action" class="row">
                        <div class="col-lg-12">
                            <ul id="tableAllUserTab" class="nav nav-tabs">
                                <li id="worker" class="active"><a href="#table-table-tab" data-toggle="tab">工人信息</a>
                                </li>
                                <li id="houseOwner" ><a href="#table-row-tab" data-toggle="tab">业主信息</a>
                                </li>
                                <!--li id="business"><a href="#table-panel-tab" data-toggle="tab">商家信息</a>
                                </li-->
                            </ul>
                            <div id="tableactionTabContent" class="tab-content">
                                <div id="table-table-tab" class="tab-pane fade in active">
                                    <div class="row mbl">
                                        <div class="col-lg-6">
                                            <div class="tb-group-actions pull-left">
                                                <select id="keyWord-sel" data-style="btn-grey" >
                                                    <option value="phone">电话号码</option>
                                                    <option value="id_card_no">身份证</option>
                                                    <option value="name">姓名</option>
                                                </select>
                                                <input id="exactSearch-input" type="text" placeholder="输入对应关键字查找..." />
                                                <button id="exactSearch-btn" type="button" >查找</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div style="position: relative;top: 6px">
                                               <span data-value="0"><a id="more_find_link" value="true" href="javascript:;">更多搜索条件<i class="fa fa-sort-desc"></i></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="more_find_div" class="row mbm" style="display: none">
                                        <div class="col-lg-12">
                                            城市 :
                                            <select id="province-sel" name="parent_selection">
                                                <option value="">-- 请选择省份 --</option>
                                            </select>
                                            <select id="city_sel" name="child_selection" >
                                            </select>
                                        </div>
                                        <br>
                                        <div class="col-lg-12">
                                            区域 :
                                            <div id="regions-div">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            工种 :
                                            <select id="roles-sel" >
                                                <option value="">-- 请选工种 --</option>
                                            </select>
                                            <div id="crafts-div">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div id="verifedStates-div">

                                            </div>
                                        </div>
                                        <div class="col-lg-offset-5 col-lg-12">
                                            <button id="screen-btn"><i class="fa fa-search"></i>&nbsp;筛选
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table  id="edit_worker_table" class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                                <thead>
                                                    <tr>
                                                        <th width="3%" class="sorting_disabled">
                                                            <input type="checkbox" class="checkall" />
                                                        </th>
                                                        <th width="5%">真实姓名</th>
                                                        <th width="5%">身份证号</th>
                                                        <th width="5%">联系方式</th>
                                                        <th width="8%">
                                                            <select id="verified-sel" data-style="btn-grey" class="selectpicker form-control">
                                                                <!--option value="-1">选择认证状态</option-->
                                                                <option value="all">所有认证状态</option>
                                                                <option value="0">未认证</option>
                                                                <option value="1">待认证</option>
                                                                <option value="2">已认证</option>
                                                                <option value="3">认证驳回</option>
                                                            </select>
                                                        </th>
                                                        <th width="5%">城市</th>
                                                        <th width="10%">区域</th>
                                                        <th width="7%">第一工种</th>
                                                        <th width="7%">第二工种</th>
                                                        <th width="3%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="workerAvater_tbody" style="">

                                                </tbody>
                                            </table>
                                            <br>
                                            <div id="uzWorkerPage"></div>
                                        </div>
                                    </div>
                                </div>  
                                <div id="table-row-tab" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-container">
                                                <table id="edit_houseOwner_table" class="table table-hover table-striped table-bordered table-advanced tablesorter display dataTable no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">昵称</th>
                                                            <th width="10%">用户名</th>
                                                            <th width="10%">真实姓名</th>
                                                            <th width="10%">联系方式</th>
                                                            <th width="7%">邮箱地址</th>
                                                        </tr>
                                                        <tbody>
                                                            <!--tr>
                                                                <td>冯云</td>
                                                                <td>射洪</td>
                                                                <td>13882568547</td>
                                                                <td>andy@qq.com</td>
                                                                <td>20-05-2014</td>
                                                                <!--td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-angle-double-right"></i>&nbsp; 更多
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>刘春萍</td>
                                                                <td>射洪</td>
                                                                <td>15869877412</td>
                                                                <td>candy@163.com</td>
                                                                <td>20-05-2014</td>
                                                            </tr-->
                                                        </tbody>
                                                    </thead>
                                                </table>
                                                <div id="uzUserPage"></div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                                                              
                                <div id="table-panel-tab" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12">
                                                <div class="portlet-body pan">
                                                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
                                                        <thead>
                                                            <tr>
                                                                <th width="9%">Record #</th>
                                                                <th>Username</th>
                                                                <th width="10%">Country</th>
                                                                <th width="10%">Gender</th>
                                                                <th width="7%">Order</th>
                                                                <th width="12%">Date</th>
                                                                <th width="10%">Price</th>
                                                                <th width="9%">Status</th>
                                                                <th width="12%">Actions</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Henry</td>
                                                                <td>United States</td>
                                                                <td>Male</td>
                                                                <td>32</td>
                                                                <td>20-05-2014</td>
                                                                <td>$240.50</td>
                                                                <td><span class="label label-sm label-success">Approved</span>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs" data-target="#modal-custom-dialog" data-toggle="modal"><i class="fa fa-edit"></i>&nbsp; Edit
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>John</td>
                                                                <td>United States</td>
                                                                <td>Female</td>
                                                                <td>45</td>
                                                                <td>20-05-2014</td>
                                                                <td>$240.50</td>
                                                                <td><span class="label label-sm label-info">Pending</span>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp; Edit
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <div id="uzBusinessPage"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->

                <div  aria-hidden="false" style="display:none;" id="edit_worker_dlg" tabindex="-1"  data-backdrop="static" class="modal fade in">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-header-primary">
                                    <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                                    <h4 class="modal-title">编辑</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="tabbable tabs-left">
                                        <ul id="edit_workerDetail_tab" class="nav nav-tabs">
                                            <li ><a href="#edit_worker_basicInfo" data-toggle="tab">基础资料</a>
                                            </li>
                                            <li ><a href="#edit_worker_roleInfo" data-toggle="tab">工种信息</a>
                                            </li>
                                            <li ><a href="#edit_worker_accountInfo" data-toggle="tab">账户信息</a>
                                            </li>
                                            <!--li ><a href="#edit_worker_verifiedInfo" data-toggle="tab">认证信息</a>
                                            </li-->
                                        </ul>
                                        <div class="tab-content">
                                            <div id="edit_worker_basicInfo" class="tab-pane fade in active">
                                                <div >
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon right"><i class="fa fa-user"></i>
                                                                    <input id="inputWorkerFullName-readOnly" type="text" placeholder="Name" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon right"><i class="fa fa-mobile-phone"></i>
                                                                    <input id="inputWorkerPhone" type="text" placeholder="Phone" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                                                    <input id="inputCardNumber-readOnly" type="text" placeholder="Card number" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="input-icon right"><i class="fa fa-map-marker"></i>
                                                                    <input id="inputWorkerCity" type="text" placeholder="" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <a href="#"><span id="workerScore" class="badge badge-warning pull-right"></span>星级:</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>评价:</label>
                                                                好评<span id="review-good-span" class="badge badge-success"></span>
                                                                中评<span id="review-notBad-span" class="badge badge-default"></span>
                                                                差评<span id="review-bad-span" class="badge badge-primary"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div ><img id="showVerifiedPic-img" border=0 src="" width="100" height="100" /></div>
                                                                <span id="verifiedInfo-span" class="label label-sm label-success"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button id="scene-verified_btn" data-target="#verified-dialog" data-toggle="modal" class="btn btn-info">现场认证</button>
                                                        <!--button id="update_workerProfile_btn" class="btn btn-success">更新资料</button-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="edit_worker_roleInfo" class="tab-pane fade">
                                                <form action="#">
                                                    <div class="form-body pal">
                                                        <div id="showRoles" class="row">
                                                            <!--div class="col-md-6">
                                                                <input type="text" class="form-control" value="工长" disabled>
                                                                <button type="button"><i class="fa fa-edit"></i></button>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" value="工人" disabled>
                                                                <button type="button" ><i class="fa fa-edit"></i></button>
                                                            </div-->
                                                        </div>
                                                        <div id="showAllRoles" class="row">
                                                            <!--div class="col-md-12">
                                                                <select id="select-role" class="form-control">
                                                                    <option>角色</option>
                                                                    <option value="0">设计师</option>
                                                                    <option value="1">工长</option>
                                                                    <option value="2">泥工</option>
                                                                    <option value="3">保洁</option>
                                                                </select>
                                                                <div id="editCraftsItem">
                                                                    <input id="minimal-checkbox-1" tabindex="5" type="checkbox" />&nbsp;
                                                                    <label for="minimal-checkbox-1">特工</label>
                                                                    <input id="minimal-checkbox-2" tabindex="5" type="checkbox" />&nbsp;
                                                                    <label for="minimal-checkbox-2">开荒</label>
                                                                </div>
                                                            </div-->
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div id="edit_worker_accountInfo" class="tab-pane fade">
                                                <form action="#">
                                                    <div class="list-group">
                                                        <a  href="javascript:;" class="list-group-item active">账户余额
                                                            <span id="balance-span" class="badge badge-info pull-right"></span>
                                                        </a>
                                                        <a  href="javascript:;" class="list-group-item">系统赠送保证金
                                                            <span id="systemMarginBalance-span" class="badge badge-warning pull-right"></span>
                                                        </a>
                                                        <a  href="javascript:;" class="list-group-item">个人保证金
                                                            <span id="ownMarginBalance-span" class="badge badge-warning pull-right"></span>
                                                        </a>
                                                        <a  href="javascript:;" class="list-group-item">累积收入
                                                            <span class="badge badge-danger pull-right">豪</span>
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!--div id="edit_worker_verifiedInfo" class="tab-pane fade">
                                                <form action="#">
                                                    <div class="form-body pal">
                                                        <div class="row" style="height:250px; overflow:auto;">
                                                            <div class="panel panel-yellow">
                                                                <div class="panel-heading">认证记录</div>
                                                                <div class="panel-body">
                                                                    <table class="table table-hover table-bordered">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>认证时间</th>
                                                                            <th>认证信息</th>
                                                                            <th>认证结果</th>
                                                                            <th>备注</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputMessage" class="control-label">原因说明:</label>
                                                            <textarea rows="5" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-right pal">
                                                        <button id="edit-verifiedFA-btn" class="btn btn-primary">驳回认证</button>
                                                    </div>
                                                </form>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" name='close-workerDetailDialog-btn' data-dismiss="modal" class="btn btn-default">关闭</button>
                                </div>
                            </div>
                        </div>
                </div>

                <div id="verified-dialog" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <button type="button"  data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                                <h4 class="modal-title">现场认证</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-user"></i>
                                                <input id="inputWorkerFirstName" type="text" value="姓" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-user"></i>
                                                <input id="inputWorkerLastName" type="text" value="名" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                                <input id="inputCardNumber" type="text" placeholder="Card number" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form class="form-horizontal">
                                            <div class="form-body pal">
                                                <div class="form-group">
                                                    <div id="preview">
                                                        <img id="imghead" border=1 src="images/avatar/defaultVerifiedImg.png" width="256" height="256" />
                                                    </div>
                                                </div>
                                                <input id="input-upload" type="file" />
                                            </div>
                                        </form>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="row" style="height:150px; overflow:auto;">
                                    <div class="panel panel-yellow">
                                        <!--div class="panel-heading">认证记录</div-->
                                        <div class="panel-body">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>申请日期</th>
                                                    <th>认证结果</th>
                                                    <th>驳回理由</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>2015/12/12</td>
                                                    <td><span class="label label-sm label-primary">失败</span></td>
                                                    <td class="success">无法看清号码</td>
                                                </tr>
                                                <tr>
                                                    <td >2015/12/12</td>
                                                    <td><span class="label label-sm label-primary">失败</span></td>
                                                    <td class="success">不是免冠照</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-right pal">
                                    <button id="update_workerProfile_btn" data-dismiss="modal" class="btn btn-pink">通过认证</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%- include footer %>
<script src="vendors/DataTables/media/js/jquery.dataTables.js"></script>
<script src="vendors/DataTables/jquery.jeditable.js"></script>
<script src="custom/fe_userList_worker.js"></script>
<script src="custom/fe_userList_houseOwner.js"></script>
