<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">星级配置规则</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="table-action" class="row">
        <div class="col-lg-12">
            <ul id="tableAllUserTab" class="nav nav-tabs">
                <li id="score" class="active"><a data-target="#table-table-tab" href="#" data-toggle="tab">星级对应发布区域数</a> </li>
                <li id="level"><a data-target="#table-row-tab" href="#" data-toggle="tab">星级对应积分规则</a> </li>
                <!--li id="business"><a href="#table-panel-tab" data-toggle="tab">商家信息</a>
               </li-->
            </ul>
            <div id="tableactionTabContent" class="tab-content">
                <!-- 工人信息 -->
                <div id="table-table-tab" class="tab-pane fade in active">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <select data-style="btn-success" class="selectpicker form-control" ng-model="selectRole" ng-options="role.name for role in originalRoles"  ng-change="originalRoleSelect()">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-container">
                                <table id="edit_houseOwner_table" class="table table-hover table-striped table-bordered table-advanced tablesorter display dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <th width="10%">区域数量</th>
                                        <th width="10%">对应星级</th>
                                        <th width="10%">参考年限</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--tr ng-repeat="rules in levelRulesArray">
                                        <td ng-show="rules.level">
                                            <input ng-blur="onEditThreshold($index,rules.threshold)" ng-model="rules.threshold">
                                        </td>
                                        <td ng-show="rules.level"ng-bind="translateDesc[rules.level].starDesc"></td>
                                        <td ng-show="rules.level" ng-bind="translateDesc[rules.level].yearRecom">a</td>
                                    </tr-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <div class="col-md-offset-3 col-md-9 ">
                                    <button type="button"  ng-disabled="checkInputSyntaxStatus" class="btn btn-green">更新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 业主信息 -->
                <div id="table-row-tab" class="tab-pane fade">
                    <div class="row mbl">
                        <!--div class="col-lg-6">
                            <select id="keyWord-sel" class="selectpicker form-control" data-style="btn-grey">
                                <option value="phone">电话号码</option>
                                <option value="id_card_no">身份证</option>
                                <option value="name">姓名</option>
                                <option value="">-- 请选择大工种 --</option>
                            </select>
                        </div-->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-container">
                                <table id="edit_houseOwner_table" class="table table-hover table-striped table-bordered table-advanced tablesorter display dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <th width="10%">每个星级对应的分值上限</th>
                                        <th width="10%">分值上限对应的星级描述</th>
                                        <th width="10%">参考年限</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rules in levelRulesArray">
                                           <td ng-show="rules.level">
                                               <input ng-blur="onEditThreshold($index,rules.threshold)" ng-model="rules.threshold">
                                           </td><!-- 分段上限 -->
                                           <td ng-show="rules.level"ng-bind="translateDesc[rules.level].starDesc"></td><!-- 星级描述 -->
                                           <td ng-show="rules.level" ng-bind="translateDesc[rules.level].yearRecom">a</td><!-- 参考年限 -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <div class="col-md-offset-3 col-md-9 ">
                                    <button type="button" ng-click="updateLevelRules()" ng-disabled="checkInputSyntaxStatus" class="btn btn-green">更新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>