<div id="signin-page">
    <div class="page-form">
        <div class="header-content">
            <h1>UZUOO</h1>
        </div>

        <div class="body-content">
            <form ng-submit="onLogin()">
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-user"></i>
                        <input type="text" placeholder="Username" name="username" class="form-control" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                        <input type="password" placeholder="Password" name="password" ng-model="user.password" class="form-control">
                    </div>
                </div>
                <div class="form-group pull-left">
                    <div class="checkbox-list">
                        <label>
                            <input type="checkbox" ng-model="user.rmbUsr">&nbsp; 记住我</label>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-success" type="submit">登录 &nbsp;
                        <i class="fa fa-chevron-circle-right"></i>
                    </button>
                </div>
            </form>

            <div class="clearfix"></div>
            <label ng-show="loginErrMsg != '' " ng-bind='loginErrMsg' style="color: rgb(255, 0, 0);"></label>
            <hr>
        </div>
    </div>
</div>