<div class="row">
    <div class="col-lg-12">
        <div class="portlet box portlet-green">
            <!--div class="portlet-header">
                <div class="caption">Advanced wizard</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i>
                </div>
            </div-->
            <div class="portlet-body">
                <div id="rootwizard-custom-circle">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul>
                                <li id="queueOrder-li">
                                    <a href="#tab1-wizard-custom-circle" data-toggle="tab">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <p class="anchor">派单中</p>
                                        <!--p class="description">基本信息</p-->
                                    </a>
                                </li>
                                <li id="signedOrder-li">
                                    <a href="#tab2-wizard-custom-circle" data-toggle="tab">
                                        <i class="glyphicon glyphicon-send mln"></i>
                                        <p class="anchor">订单信息</p>
                                        <p class="description"></p>
                                    </a>
                                </li>
                                <li id="building-li">
                                    <a href="#tab3-wizard-custom-circle" data-toggle="tab">
                                        <i class="glyphicon glyphicon-wrench"></i>
                                        <p class="anchor">施工阶段</p>
                                        <p class="description"></p>
                                    </a>
                                </li>
                                <li id="finishedOrder-li">
                                    <a href="#tab4-wizard-custom-circle" data-toggle="tab">
                                        <i class="glyphicon glyphicon-check"></i>
                                        <p class="anchor">交易完成</p>
                                        <p class="description"></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--div id="bar" class="progress">
                        <div class="bar progress-bar progress-bar-primary"></div>
                    </div-->
                    <div class="tab-content">
                        <div id="tab1-wizard-custom-circle" class="tab-pane">
                            <h3 class="mbxl">基本信息：</h3>
                            <form action="#" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">客户姓名：<span id="customerName-span">冯云</span>
                                    </label>
                                    <!--label class="col-sm-3 control-label" >联系电话：<span id="customerPhone-span">18180450714</span>
                                    </label-->
                                    <label class="col-sm-6 control-label">房屋住址：<span id="customerAddress-span">武侯区天府四街仁美大源印象</span>
                                    </label>
                                </div>
                                <!--div class="form-group">
                                    <label class="col-sm-3 control-label">装修内容：<span>整装</span>
                                    </label>
                                </div-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">候选者：
                                    </label>
                                    <label class="col-sm-6 control-label" style="position: relative;text-align: left">
                                        <span id="candidates-span">贝聿铭,鲁班,茅以升</span></label>
                                </div>
                            </form>
                        </div>
                        <div id="tab2-wizard-custom-circle" class="tab-pane">
                            <h3 class="mbxl">合同信息</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-sm-3 control-label">项目名称：<span>仁美大源印象</span>
                                    </label>
                                    <label class="col-sm-3 control-label" >面积：<span>95平</span>
                                    </label>
                                    <label class="col-sm-6 control-label">套型：<span>套三</span>
                                    </label>
                                    <label class="col-sm-3 control-label">甲方：<span>冯云</span>
                                    </label>
                                    <label class="col-sm-3 control-label" >乙方：<span>悠住</span>
                                    </label>
                                    <label class="col-sm-6 control-label">丙方：<span>贝聿铭</span>
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="row" style="height:300px; overflow:auto;">
                                <div class="panel panel-grey">
                                    <div class="panel-heading">预算明细</div>
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>金额</th>
                                                <th>工期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="active">水电</td>
                                                <td class="success">5000</td>
                                                <td class="warning">3天</td>
                                            </tr>
                                            <tr>
                                                <td class="active">泥工</td>
                                                <td class="success">6000</td>
                                                <td class="warning">3天</td>
                                            </tr>
                                            <tr>
                                                <td class="active">防水</td>
                                                <td class="success">10000</td>
                                                <td class="warning">5天</td>
                                            </tr>
                                            <tr>
                                                <td class="active">总价</td>
                                                <td class="success">21000</td>
                                                <td class="warning">11天</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3-wizard-custom-circle" class="tab-pane fadeIn">
                            <div class="col-md-12">
                                <div id="accordion1" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">施工进程</a><i class="indicator glyphicon glyphicon-chevron-down pull-right mts text-muted"></i>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                装修进行中...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">施工日志</a>
                                            <i class="indicator glyphicon glyphicon-chevron-left pull-right mts text-muted"></i>
                                        </div>
                                        <div id="collapseTwo1" class="panel-collapse collapse">
                                            <div class="panel-body" style="height:300px; overflow:auto;">
                                                <div id="grid-layout-table1" class="box jplist">
                                                    <div class="box text-shadow">
                                                        <table class="demo-tbl">
                                                            <tbody>                                          
                                                                <tr class="tbl-item">
                                                                    <!--<img/>-->
                                                                    <td class="img">
                                                                        <img src="vendors/jplist/html/img/thumbs/arch-1.jpg" alt="" title="">
                                                                    </td>
                                                                    <!--<data></data>-->
                                                                    <td class="td-block">
                                                                        <p class="date">03/15/2012</p>
                                                                        <p class="title">马克</p>
                                                                        <p class="desc">瓷砖装贴完毕.</p>
                                                                        <p class="like"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="tbl-item">
                                                                    <!--<img/>-->
                                                                    <td class="img"><img src="vendors/jplist/html/img/thumbs/car-1.jpg" alt="" title="">
                                                                    </td>
                                                                    <!--<data></data>-->
                                                                    <td class="td-block">
                                                                        <p class="date">09/01/2015</p>
                                                                        <p class="title">刘明</p>
                                                                        <p class="desc">An arch is a structure that spans a space and supports a load. Arches appeared as early as the 2nd millennium BC in Mesopotamian brick architecture and their systematic use started with the Ancient Romans who were the first to apply the technique to a wide range of structures.</p>
                                                                        <p class="like"></p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab4-wizard-custom-circle" class="tab-pane fadeIn">
                            <h3 class="mbxl">谢谢!</h3>
                            <p>本次交易公平、公开、公正</p>
                            <p>感谢使用悠住!</p>
                        </div>
                        <!--div class="action text-right">
                            <button type="button" name="previous" value="Previous" class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>上一步</button>
                            <button type="button" name="next" value="Next" class="btn btn-info button-next mlm">下一步<i class="fa fa-arrow-circle-o-right mlx"></i>
                            </button>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" hidden="hidden">
        <div class="portlet box portlet-yellow">
            <div class="portlet-header">
                <div class="caption">Basic Wizard</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i>
                </div>
            </div>
            <div class="portlet-body">
                <form id="form-2" action="#">
                    <div id="wizard-1"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12" hidden="hidden">
        <div class="portlet box portlet-green">
            <div class="portlet-header">
                <div class="caption">Basic Form</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i>
                </div>
            </div>
            <div class="portlet-body">
                <form id="form-2" action="#">
                    <div id="wizard-2"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" hidden="hidden">
    <div class="col-lg-12">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">Vertical Steps</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i>
                </div>
            </div>
            <div class="portlet-body">
                <form id="form-3" action="#">
                    <div id="wizard-3"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="portlet box portlet-pink">
            <div class="portlet-header">
                <div class="caption">Async Content Loading</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i>
                </div>
            </div>
            <div class="portlet-body">
                <form id="form-4" action="#">
                    <div id="wizard-4"></div>
                </form>
            </div>
        </div>
    </div>
</div>