<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="/images/avatar/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p ng-bind='userInfo.name'></p>
                    <ul class="list-inline list-unstyled">
                        <input id="useruuid" type="hidden" ng-model='userInfo.id'>
                        <li><a href="javascript:void(0);" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modify_account_pw_dlg"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'youzhu']">
                <a href="/"><i class="fa fa-home fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">悠住</span></a>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'userAdmin']"><a href="#"><i class="fa fa-user fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'frontUsr']"><a href="/customer"><i class="fa fa-tablet"></i><span class="submenu-title">悠住用户</span></a>
                    </li>
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'verifyUsr']"><a href="/todoVerifiedCustomer"><i class="fa fa-tablet"></i><span class="submenu-title">待认证用户</span></a>
                    </li>
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'backgrdUsr']"><a href="/webAdminPage"><i class="fa fa-desktop"></i><span class="submenu-title">后台用户</span></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'billAdmin']"><a href="#"><i class="fa fa-th-list fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'orders']"><a href="/showOrdersPage"><i class="fa fa-truck"></i><span class="submenu-title">订单查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'bills']"><a href="/billsMgtPage"><i class="fa fa-cny"></i><span class="submenu-title">订单台账</span></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'actvityAdmin']"><a href="#"><i class="fa fa-rss-square fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">活动信息管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'activityMgt']"><a href="/activityMgtPage"><i class="fa fa-table"></i><span class="submenu-title">活动查看</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i><span class="submenu-title">信息发布</span></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'operationAdmin']"><a href="#"><i class="fa fa-trello fa-fw"><div class="icon-bg bg-blue"></div></i><span class="menu-title">运营管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'feedback']"><a href="/customerFeedbacks"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">客户反馈</span></a>
                    </li>
                    <!--li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a>
                    </li-->
                    <li><a href="#"><i class="fa fa-money"></i><span class="submenu-title">优惠券使用统计</span></a>
                    </li>
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'amountMgt']"><a href="/amountMgtPage"><i class="fa fa-th-large"></i><span class="submenu-title">价格管理</span></a>
                    </li>
                    <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.secondSel == 'levelRule']"><a href="/levelRulesMgtPage"><i class="fa fa-th-large"></i><span class="submenu-title">星级积分管理</span></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{true: 'active', false: 'inactive'}[sideBarSelect.firstClassSel == 'systemLog']"><a href="/history"><i class="fa fa-file-o fa-fw"><div class="icon-bg bg-green"></div></i><span class="menu-title">系统日志</span></a>
            </li>
        </ul>
    </div>
</nav>