<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">系统日志</div>
    </div>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    历史留痕记录表
                </div>
                <div class="panel-body">
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mbs">
                                <div style="float: left" data-date-format="yyyy/mm/dd" class="input-group date datepicker-filter input-group-sm mbs">
                                    <input id="startDate-input" type="text" bs-datepicker="" ng-model="vm.selectedStartDate" readonly class="form-control" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div style="float: left">
                                    <div style="position: relative;top: 5px">
                                        -
                                    </div>
                                </div>
                                <div style="float: left" data-date-format="yyyy/mm/dd" class="input-group date datepicker-filter input-group-sm mbs">
                                    <input id="endDate-input" type="text" bs-datepicker="" ng-model="vm.selectedEndDate" readonly class="form-control" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>&nbsp;
                                <button ng-click="onFindLogByDate()" id="search-btn" type="button" class="btn btn-success btn-sm">查询</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tb-group-actions pull-right">
                                <span></span>
                                <button id="btn-allDel-warning" class="btn btn-primary " data-target="#modal-confirm-all" data-toggle="modal">
                                    <!--i class="fa fa-check"&nbsp; ></i-->删除 </button>
                            </div>
                        </div>
                    </div>
                    <table id="history-tab" class="table table-hover table-bordered table-advanced">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="3%" class="sorting_disabled">
                                <input type="checkbox" ng-model="selectAllCheck" class="icheckbox_minimal-grey" ng-click="checkAll(logsArray)"/>
                            </th>
                            <th width="9%" class="sorting">姓名</th>
                            <th width="18%" class="sorting">时间</th>
                            <th width="15%" class="sorting_asc">操作员</th>
                            <th width="10%" class="sorting">描述</th>
                            <th width="10%" class="sorting"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="logInfo in logsArray">
                                <td>
                                    <input ng-model="logInfo.selected"  type="checkbox" class="checkbox" />
                                </td>
                                <td ng-bind="logInfo['username']">yun_feng</td>
                                <td ng-bind="timeToStr(logInfo['operator_date'])">2016/02/20 23:17:35</td>
                                <td ng-bind="getUserRole(logInfo['role'])">管理员</td>
                                <td ng-bind="logInfo['action']">确认了一笔付款...</span>
                                </td>
                                <td>
                                    <button ng-click="onShowDelOne(logInfo)" type="button" class="btn btn-danger btn-xs " data-toggle="modal" data-target="#modal-confirm" ><i class="fa fa-trash-o"></i>&nbsp; 删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="logPage"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">你确定删除吗?</div>
            <div class="modal-footer">
                <input type="hidden" value="">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button ng-click="onDelSingleLog()" id="btn-del" type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-confirm-all" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">你确定删除所勾选的操作日志吗?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button ng-click="onDelAllCheckLog()" id="btn-delAll" type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
