<div aria-hidden="true" id="show_account_dlg" tabindex="-1"  class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button"  data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">账户信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input id="inputWorkerFirstName" type="text" value="姓" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-user"></i>
                                <input id="inputWorkerLastName" type="text" value="名" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-icon right"><i class="fa fa-credit-card"></i>
                                <input id="inputCardNumber" type="text" placeholder="Card number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="form-actions text-right pal">
                    <button id="update_workerProfile_btn" data-dismiss="modal" class="btn btn-pink">通过认证</button>
                </div-->
                <div class="modal-footer">
                    <div >
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>