.datagrid {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border: rgba(0, 0, 0, .1) solid 1px;
}

.datagrid > .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    background-color: transparent;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    color: rgba(0, 0, 0, .6);
    padding: 10px;
}

.datagrid > .loading::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 15px;
    background-image: url("images/spinnerLoader.svg");
    content: '';
    margin-right: .5em;
    vertical-align: middle;
}

.datagrid * {
    line-height: normal;
}

.datagrid > .header {
    background-color: rgba(0, 0, 0, .5);
    border-bottom: rgba(0, 0, 0, .1) solid 1px;
    overflow: hidden;
    position: relative;
    flex: none;
}

.datagrid > .header > .columns {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    overflow: hidden;
}

.datagrid > .header > .columns > .el {
    display: flex;
    flex-flow: row nowrap;
}

.datagrid > .header > .columns > .el .col {
    padding: 10px;
    border-right: rgba(0, 0, 0, .1) solid 1px;
    color: white;
    flex: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

.datagrid > .header > .columns > .el .col > span {
    color: white;
}

.datagrid > .header > .columns > .el .subcol {
    margin: 10px -11px -10px -10px;
    border-top: rgba(0, 0, 0, .1) solid 1px;
    display: flex;
    flex-flow: row nowrap;
}

.datagrid > .header > .columns > .el .subcol > .col:last-child {
    border-right: none;
}

.datagrid > .header > .columns > .el .col:hover {
    background-color: rgba(0, 0, 0, .1);
}

.datagrid > .content {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.datagrid > .content > .rows {
    flex: 1;
    overflow: hidden;
}

.datagrid > .content > .rows > .row {
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    transition: background-color 50ms;
}

.datagrid > .content > .rows > .row > .el {
    display: flex;
    flex-flow: row nowrap;
}

.datagrid > .header > .columns > .frozen > .rowheader, .datagrid > .content > .rows > .row > .frozen > .rowheader {
    padding: 0px;
    width: 0px;
    background-color: rgba(0, 0, 0, .2);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    overflow: hidden;
}

.datagrid > .content > .rows > .selected > .frozen > .rowheader {
    background-repeat: no-repeat;
    background-size: 6px 6px;
    background-position: 8px center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4IiB2aWV3Qm94PSIwIDAgNiA2IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CjxwYXRoIGZpbGw9InJnYmEoMCwwLDAsLjYpIiBkPSJNMCwwIEw2LDMgTDAsNiIgLz4KPC9zdmc+");
}

.datagrid > .header > .columnsWithHeader > .frozen > .rowheader, .datagrid > .content > .rowsWithHeader > .row > .frozen > .rowheader {
    padding: 0px;
    width: 22px;
}

.datagrid > .content > .rows > .row:nth-child(2n) {
    background-color: rgba(0, 0, 0, .02);
}

.datagrid > .content > .rows > .row:hover {
    background-color: rgba(27, 136, 238, .1);
    transition: background-color 50ms;
}

.datagrid > .content > .rows > .row > .el > .cell {
    padding: 10px;
    border-right: rgba(0, 0, 0, .1) dotted 1px;
    flex: none;
    transition: background-color 50ms;
    display: flex;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.datagrid > .content > .rows > .row > .el > .cell:focus {
    outline: none;
}

.datagrid > .content > .rows > .selected {
    background-color: rgba(27, 136, 238, .15) !important;
}

.datagrid > .content > .rows > .row > .el > .cell.selected {
    background-color: rgba(27, 136, 238, .3);
    transition: background-color 50ms;
}

.datagrid > .content > .rows > .row > .el > .cell.editing {
    padding: 0px;
    -webkit-box-align: stretch;
}

.datagrid > .content > .rows > .row > .el input[type=text],
.datagrid > .content > .rows > .row > .el button {
    flex: 1;
    border-radius: 0px;
    padding: 10px 11px;
    height: auto;
    border: none;
    margin: 0px;
    background-color: white;
    text-align: left;
}

.datagrid > .content > .rows > .row > .el input.selector,
.datagrid > .content > .rows > .row > .el button.selector {
    background-color: rgba(27, 136, 238, .6);
    color: white;
    padding: 10px 24px 10px 10px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 22px 22px;
    border: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIyMnB4IiBoZWlnaHQ9IjIycHgiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgo8cGF0aCBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LC43NSkiIGQ9Ik04LDggTDE0LDggMTEsMTR6IiAvPgo8L3N2Zz4=");
}

.datagrid > .content > .rows > .row > .el button.selector > span {
    color: white;
}

.datagrid > .content > .rows > .groupRow {
    padding: 10px;
    background-color: rgba(0, 0, 0, .15);
    color: #1a1f25;
    font-weight: bold;
    border-bottom: rgba(0, 0, 0, .2) solid 1px;
    border-top: rgba(0, 0, 0, .1) solid 1px;
}

.datagrid > .content > .rows > span.empty {
    margin-top: 1em;
}

.datagrid > .content > .rows > .row > .el input.isopened {
    background-color: #61aef5;
}

.datagrid > .content > .rows > div[data-group] > div:first-child {
    text-indent: 2em;
}

.datagrid .checkboxcol, .datagrid .checkboxcell {
    text-align: center;
}

.datagrid .checkboxcol input, .datagrid .checkboxcell input {
    width: 16px;
    height: 16px;
    margin: 0px;
}

.datagrid label.checkboxlabel {
    width: 32px;
    height: 16px;
    margin: 0px;
    display: block;
    border-radius: 16px;
    border: rgba(0, 0, 0, .2) solid 1px;
    background-color: white;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgo8cmVjdCB4PSI0IiB5PSI0IiByeD0iMTIiIHJ5PSIxMiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSIjZTJlMmUyIiBzdHJva2U9IiNhYWEiIHN0cm9rZS13aWR0aD0iMSIgIC8+Cjwvc3ZnPg==");
    transition: background-color, background-position 200ms;
    opacity: .5;
}

.datagrid .editable label.checkboxlabel {
    cursor: pointer;
    opacity: 1;
}

.datagrid .editable label.checkboxlabel:hover {
    background-color: #f5f5f5;
    transition: background-color, background-position 200ms;
}

.datagrid label.checkedlabel {
    background-position: right center;
    background-color: #61aef5;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgo8cmVjdCB4PSI0IiB5PSI0IiByeD0iMTIiIHJ5PSIxMiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSIjZmZmIiAgLz4KPC9zdmc+");
    transition: background-color, background-position 200ms;
}

.datagrid .editable label.checkedlabel:hover {
    background-color: #1b88ee;
    transition: background-color, background-position 200ms;
}

.datagrid .editing label.checkboxlabel {
    margin: 10px;
}

.datagrid .template {
    display: none;
}

.datagrid > .header > .columns > .el .last,
.datagrid > .content > .rows > .row > .el .last {
    border-right: none;
    flex: 1;
}

.datagrid > .header > .commands {
    border-bottom: rgba(0,0,0,.1) solid 1px;
    display: flex;
    flex-flow: row wrap;
}

.datagrid > .header > .commands button {
    padding: 10px;
    height: auto;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    color: #cccccc;
}
.datagrid > .header > .commands button:hover {
    color: white;
}