<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    <title>关注万码易联</title>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>

</head>
<body class="cmc">
<div id="main">
<div class="summary box box-tb">
    <h1>以下是您参加本次活动获得的内容</h1>
    <h3 class="point ">获得了 <i>1000</i> 积分。</h3>
</div>
<img src="css/images/lbw.jpg" border="0" width="100%" /></div>
</body>
</html>