<div class="manage manageproduct" ng-controller="mallProductManage">
    <h3 class="view-title">
        <i class="fa fa-archive"></i>
        商品管理
    </h3>
    <div m-view-opt-group>
        <m-form>
            <form>
                <div class="filter">
                    <div class="filter-item">
                        <span class="filter-item-label">商品名称:</span>
                        <input type="text" class="filter-item-input" placeholder="商品名称" ng-model="productList.queryOptions.query.productname">
                    </div>
                    <div class="filter-item">
                        <span class="filter-item-label">分类:</span>
                        <select ng-model="productList.kind" style="padding: 4px;">
                            <option value="">请选择商品分类</option>
                            <option value="others">自定义商品</option>
                            <option value="blh">百礼汇商品</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <span class="filter-item-label">状态:</span>
                        <select ng-model="productList.queryOptions.query.state" style="padding: 4px;">
                            <option value="">请选择商品状态</option>
                            <option value="sell">已上架</option>
                            <option value="offshelf">已下架</option>
                        </select>
                    </div>
                </div>
                <div class="action">
                    <button class="butn butn-primary" ng-click="productList.query(1)">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <button class="butn butn-default" ng-click="productList.resetQuery()">重置</button>
                </div>
            </form>
        </m-form>
        <m-action>
            <button class="butn butn-primary" ng-click="productForm.showAdd()"><i class="fa fa-plus"></i> 添加自定义商品</button>
            <button class="butn butn-primary" ng-click="productForm.addBLH()"><i class="fa fa-plus"></i> 添加百礼汇商品</button>
        </m-action>
    </div>

    <div class="view-table" id="productTable">
        <table>
            <thead>
                <tr>
                    <th width="200px">创建时间</th>
                    <th width="200px">商品名称</th>
                    <th width="120px">状态</th>
                    <th width="120px">售价(元)</th>
                    <th width="120px">成本(元)</th>
                    <th width="100px">总数</th>
                    <th width="240px">商品描述</th>
                    <th width="80px">编辑</th>
                    <th width="80px">操作</th>
                    <th width="80px">参与折扣</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in productList.items">
                    <td ng-bind="item.productdate | timFmart"></td>
                    <td ng-bind="item.productname"></td>
                    <td ng-bind="item.state | forstate"></td>
                    <td ng-bind="item.price | currency : ''"></td>
                    <td ng-bind="item.cost | currency : ''"></td>
                    <td ng-bind="item.amount"></td>
                    <td ng-bind="item.productinfo"></td>
                    <td style="padding:0">
                        <button class="butn butn-link" 
                            ng-click="productForm.showEdit(item)" 
                            ng-disabled="item.productor == 'erathink'"
                            ng-bind="item.producttype == 'blh'? '查看':'编辑'">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td style="padding:0">
                        <button class="butn butn-link"
                            ng-show="item.state == 'sell'"
                            ng-disabled="item.productor == 'erathink'"
                            ng-click="productForm.offShelve(item)">
                            <i class="fa fa-shopping-cart"></i>
                            下架
                        </button>
                        <button class="butn butn-link"
                            ng-show="item.state == 'offshelf'"
                            ng-disabled="item.productor == 'erathink'"
                            ng-click="productForm.shelve(item)">
                            <i class="fa fa-shopping-cart"></i>
                            上架
                        </button>
                    </td>
                    <td style="padding:0">
                        <button class="butn butn-link"
                            ng-disabled="item.productor == 'erathink'"
                            ng-click="productForm.setDiscount(item)">
                            <!-- <i class="fa fa-shopping-cart"></i> -->
                            {{item.isDiscount == 0 ? '参加' : '不参加' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="productForm.showAddForm" ng-include="'views/templates/mall/mall.manage.product.add.html'"></div>
    <div ng-if="productForm.showEditForm" ng-include="'views/templates/mall/mall.manage.product.edit.html'"></div>
    <div ng-if="productForm.showAddBLH" ng-include="'views/templates/mall/mall.manage.product.addBLH.html'"></div>
    <div ng-if="productForm.updateBLH" ng-include="'views/templates/mall/mall.manage.product.updateBLH.html'"></div> 
</div>