
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>img-tools</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<style type="text/css">
    
</style>
<body>
<a href="./pluploadTest01.html">plupload上传图片示例01</a>
<a href="./ngFileLoad01.html">ng-file-upload上传图片示例02</a>
</body>
<!--<script type="text/javascript" charset="gb2312" src="http://counter.sina.com.cn/ip/"></script>-->
<script type="text/javascript">
    //url(images/bgLine.png)
</script>
</html>
