<div class="view product" ng-init="initpage()">
    <h3 class="view-title">
        <i class="fa fa-shopping-bag"></i> 微信管理
    </h3>
    <div class="view-bar">
        <ul class="view-breadcrumb">
            <li class="view-breadcrumb-item">
                <i class="fa fa-home"></i>
                <a href="/">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="view-breadcrumb-item">
                <a href="javascript:;">微信管理</a>
            </li>
        </ul>
    </div>
    <div class="mainContent clear">
        <!-- 这部分是显示的活动列表 -->
        <div class="side lf">
            <div class="sideitem" 
                 ng-repeat="item in tableItems" 
                 ng-bind="item.name" 
                 ng-click="selectActivity(item)" 
                 ng-class="{active: selectedItem == item}">
            </div>
        </div>
        <!-- 这部分是操作区 -->
        <div class="tabbox" 
             ng-if="selectedShow == 'showshareaccount'" 
             ng-include="'views/templates/sysManage/wechat.shareaccount.html'">
        </div>
        <div class="tabbox" 
             ng-if="selectedShow == 'showmenumanage'" 
             ng-include="'views/templates/sysManage/wechat.menumanage.html'">
        </div>
    </div>

</div>